<% stylesheet('datePicker')%>
<% javascript('jquery.datePicker', 'date')%>

<style type="text/css">
  .form_bar_bussiness table td{
      padding: 5px 0;
  }
</style>

<%= form_for @bar_bussiness, :validate => true, :html => { :multipart => true, :class => "form_bar_bussiness" } do |f| %>
  <!--
  <% if @bar_bussiness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bar_bussiness.errors.count, "error") %> prohibited this bar_bussiness from being saved:</h2>

      <ul>
      <% @bar_bussiness.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  -->
  <table width="100%" border="0">	
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9">Bar Business Registration</h3></td>
  </tr>
  <% unless params[:indicator] %>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Email </div></td>
    <td width="1%"></td>
    <td width="59%">
    	<%= f.text_field :email, :class => "textfield_effect"   %>
    	<label id="email_validate_lbl" style="color:#DD0000;font-size:12px;padding-left:5px;"></label>
    </td>
  </tr> 
  <tr>
    <td><div align="right" style="color:#FFFFFF">Password</div></td>
    <td width="0"></td>
    <td><%= f.password_field :password, :class => "textfield_effect"   %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Confirm Password</div></td>
    <td width="0"></td>
    <td><%= f.password_field :password_confirmation , :class => "textfield_effect"  %></td>
  </tr>
  <% end %>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Bar Name </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :name, :class => "textfield_effect"   %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Person of Contact</div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :person_of_contact, :class => "textfield_effect"   %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Phone </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :phone, :class => "textfield_effect"   %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Location </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_area :address, :rows => '3', :cols => '22' %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">City </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.select :city, StaticData.cities, :include_blank => true, :style => "width:197px" %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Website </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :website , :class => "textfield_effect"  %></td>
  </tr>
  <!--
  <% if isadmin? %>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Status </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.radio_button :status, '1' %>
		<%= f.label "Active" %><br />
		<%= f.radio_button :status, '0' %>
		<%= f.label "Inactive" %><br /></td>
  </tr>
  <% end %>
  -->
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Upload Image </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.file_field :photo, :class => "textfield_effect" %><br><label style="color:#4DBCE9">Upload Image ( 2MB max)</label></td>
  </tr>
  
  <!--
  <tr>
    <td colspan="3"><h4 align="center" style="color:#48B9E9">Table Details.</h4></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Start Date </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :start_date, :class=>"date-pick" %></td>
  </tr><tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">End Date </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :end_date, :class=>"date-pick" %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">No of table Available </div></td>
    <td width="1%"></td>
    <td width="59%">
    	<%= f.select :no_of_tabel, options_for_select([
    														["Select", "0"],
    														["1", "1"],
    														["2", "2"],
    														["3", "3"],
    														["4", "4"],
    														["5", "5"],
    														["6", "6"],
    														["7", "7"],
    														["8", "8"],
    														["9", "9"],
    														["10", "10"]
    													 ]), :style => "width:197px" %>
    </td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Price </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_field :price %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Description </div></td>
    <td width="1%"></td>
    <td width="59%"><%= f.text_area :description, :rows => '3', :cols => '22' %></td>
  </tr>
  -->
  <tr>
    <td></td>
    <td></td>
    <td><%= f.submit "Register your Bar" %></td>
  </tr>
  <tr>
    <td colspan="3"></td>
  </tr> 
</table>
<% end %>

<script type="text/javascript">
	$('.date-pick').datePicker({autoFocusNextInput: true});
	
	$('#bar_bussiness_email').blur(function() {
		// force cross-site scripting (as of jQuery 1.5)
		jQuery.support.cors = true;
		console.log($(this).val());
		$.get('/bar_bussinesses/email_validate', 
			{email:$(this).val()},
			function(data) {
				
			}, 'script'
		);
		
	});	
</script>
