<div id="buy_now">
	
<table width="37%" height="295" border="0" align="center">
	
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9"><div style="background:#747016;
    width: 80%;
    padding:0.3em;
    font: 0.9em Verdana, Arial, Helvetica, sans-serif;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    height:26px;"> Bar Owner Controle Panel</div> </h3></td>
  </tr>	
	
  <tr>
    <td width="197" height="136" valign="top">
            <div align="center" style="border:#226455 solid 2px;background-color:#F9FAE0;" >
              <p><%= link_to image_tag("auth/file.gif", :height => '43', :width => '46'), servicelist_bar_bussinesses_path %></p>
              <p align="center" class="style1"><%= link_to 'Servicelistings', servicelist_bar_bussinesses_path, :class=>"links" %></p>
          </div></td>
    
    
    <td width="197" height="87" valign="top">  
       <div align="center" style="border:#226455 solid 2px;background-color:#F9FAE0;" >
         <p><%= link_to image_tag("auth/contact an agent.png", :height => '43', :width => '46'), users_path %></p>
         <p align="center" class="style1"><%= link_to 'Invite Guest', users_path, :class=>"links" %></p>
       </div></td> 
          
          
    
  </tr>
  <tr>
    <td width="197" height="87" valign="top">
       <div align="center" style="border:#226455 solid 2px;background-color:#F9FAE0;" >
         <p><%= link_to image_tag("auth/updte.png", :height => '43', :width => '46'), new_servicelisting_path %></p>
         <p align="center" class="style1"><%= link_to 'New table Service',   new_servicelisting_path , :class=>"links" %></p>
       </div></td> 
          
          
          
          
    <td width="197" height="87" valign="top">
       <div align="center" style="border:#226455 solid 2px;background-color:#F9FAE0;" >
         <p><%= link_to image_tag("auth/index.jpg", :height => '43', :width => '46'), users_path %></p>
         <p align="center" class="style1"><%= link_to 'Manage Guest', users_path, :class=>"links" %></p>
       </div></td>  
  </tr>
</table>
</br>
</br>
</br>
</br>

<!--



<h1>Listing bar_bussinesses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Person of contact</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Start date</th>
    <th>End date</th>
    <th>No of tabel</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bar_bussinesses.each do |bar_bussiness| %>
  <tr>
    <td><%= bar_bussiness.name %></td>
    <td><%= bar_bussiness.person_of_contact %></td>
    <td><%= bar_bussiness.email %></td>
    <td><%= bar_bussiness.phone %></td>
    <td><%= bar_bussiness.address %></td>
    <td><%= bar_bussiness.start_date %></td>
    <td><%= bar_bussiness.end_date %></td>
    <td><%= bar_bussiness.no_of_tabel %></td>
    <td><%= bar_bussiness.price %></td>
    <td><%= bar_bussiness.description %></td>
    <td><%= link_to 'Show', bar_bussiness, :class=> 'links' %></td>
    <td><%= link_to 'Edit', edit_bar_bussiness_path(bar_bussiness), :class=> 'links' %></td>
    <td><%= link_to 'Destroy', bar_bussiness, :confirm => 'Are you sure?', :method => :delete, :class=> 'links' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar bussiness', new_bar_bussiness_path, :class=> 'links' %>
-->
</div>
