<div id="signup">
<p id="notice"><%= notice %></p>


<table width="100%" border="0">	
  	
  <tr>
    <td colspan="3">
    	<h3 align="center" style="color:#48B9E9">
    		<% unless params[:indicator] %>
    			Your Bar is now succesfully registered.
    		<% else %>
    			Bar business details
			<% end %>
    	</h3>
    </td>
  </tr>  
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Bar Name </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="color:#F8f8f8; font-size:1.4em; padding:5px;"><%= @bar_bussiness.name %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Person of Contact</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="color:#F8f8f8; font-size:1.4em;padding:5px;"><%= @bar_bussiness.person_of_contact %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Email </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="color:#F8f8f8; font-size:1.4em;padding:5px;"><%= @bar_bussiness.email %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Phone </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="color:#F8f8f8; font-size:1.4em;padding:5px;"><%= @bar_bussiness.phone %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Address </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="color:#F8f8f8; font-size:1.4em;padding:5px;"><%= @bar_bussiness.address %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">WebSite </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="color:#F8f8f8; font-size:1.4em;padding:5px;"><%= @bar_bussiness.website %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Image </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%" style="padding:5px;"><%= image_tag @bar_bussiness.photo.url, :size => "320x320", :style =>"border:1px solid #fff;-moz-border-radius:10px;-webkit-border-radius:10px;" %></td>
  </tr>
  <!--
  <tr>
    <td colspan="3"><h4 align="center" style="color:#48B9E9">Table Details.</h4></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Start Date </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= @bar_bussiness.start_date %></td>
  </tr><tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">End Date </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= @bar_bussiness.end_date %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">No of table Available </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%">
    	<%= @bar_bussiness.no_of_tabel %>
    </td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Price </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= @bar_bussiness.price %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Description </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= @bar_bussiness.description %></td>
  </tr>
  -->
</table>


<!--
<p>
  <b>Name:</b>
  <%= @bar_bussiness.name %>
</p>

<p>
  <b>Person of contact:</b>
  <%= @bar_bussiness.person_of_contact %>
</p>

<p>
  <b>Email:</b>
  <%= @bar_bussiness.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @bar_bussiness.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @bar_bussiness.address %>
</p>

<p>
  <b>Start date:</b>
  <%= @bar_bussiness.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @bar_bussiness.end_date %>
</p>

<p>
  <b>No of table:</b>
  <%= @bar_bussiness.no_of_tabel %>
</p>

<p>
  <b>Price:</b>
  <%= @bar_bussiness.price %>
</p>

<p>
  <b>Description:</b>
  <%= @bar_bussiness.description %>
</p>
-->
<% if isadmin?%>
	<%= link_to 'Back', admin_report_path, :class=> 'links' %> 
<% elsif current_user %>
	<%= link_to 'Back', list_bar_bussinesses_path, :class=> 'links' %>
<% end %>	
</div>
