<%= form_for @servicelisting , :html => { :multipart => true }  do |f| %>
  <% if @servicelisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicelisting.errors.count, "error") %> prohibited this servicelisting from being saved:</h2>

      <ul>
      <% @servicelisting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :availability %><br />
    <%= f.datetime_select :availability, :order => [:month, :day, :year ] %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  
   <div class="field">
    <%= f.label :buynow_price %><br />
    <%= f.text_field :buynow_price %>
  </div>
  exit
  
  <div class="field">
    <%= f.label :no_of_guests %><br />
    <%= f.text_field :no_of_guests %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  
  <div class="field">
    <%= f.label :status %><br />	
	<%= f.radio_button :status, "true" %>
	<%= f.label "Active" %><br />
	<%= f.radio_button :status, "false" %>
	<%= f.label "Inactive" %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
