
<% javascript('jqTimer')%>

<h1>Servicelistings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Availability</th>
    <th>Price</th>
    <th>No of guests</th>
	<% if isadmin? %>
    <th>Status</th>
	<% end%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servicelistings.each do |servicelisting| %>
  <tr>
  	<% if servicelisting.status || isadmin? %>
	
    <td><%= servicelisting.title %></td>
    <td><%= servicelisting.description %></td>
    <td><%= servicelisting.location %></td>
    <td><%= servicelisting.availability %></td>
    <td><%= servicelisting.price %></td>
    <td><%= servicelisting.no_of_guests %></td>
	    <% if isadmin? %>
	    <% if servicelisting.status  %>
    <td>Active</td>
        <% else %>
    <td>Inactive</td>
        <% end%>	    
	    <% end%>
		
    <td><%= link_to 'Show', servicelisting %></td>
	
	
	<% if isadmin? %>
    <td><%= link_to 'Edit', edit_servicelisting_path(servicelisting) %></td>
    <td><%= link_to 'Destroy', servicelisting, :confirm => 'Are you sure?', :method => :delete %></td>              
	<%end%>
	<% @servicelisting = servicelisting%>
	<td><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  HighestBid:</b>$<%= @servicelisting.highestbid %></td>
	
	<td><b>&nbsp; </b><%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting) %></td>
	
	<td><b>&nbsp; </b><%= link_to 'Buy now', servicelisting_buynow_path(@servicelisting) %></td> 

	<% if current_user %>
	<% service_user_high_bid = nil %>
	 <% current_user.bids.each do |bid|%>		 
	   <%   if bid.servicelisting.id == @servicelisting.id %>
	    <%  if service_user_high_bid == nil && bid != nil%>
		<%  service_user_high_bid = bid %>
		  <% end %>
		 <% if service_user_high_bid.bidprice < bid.bidprice %>
		  <%   service_user_high_bid = bid %>
		  <% end %>
		  <% end %>
		  <% end %>
     <% if service_user_high_bid != nil %> 	
     <% if service_user_high_bid.bidprice == @servicelisting.highestbid %>
	    <td>"You are the highest bidder"</td>
		<% else%>
		<td> You are outbid by <%= @servicelisting.highestbid - service_user_high_bid.bidprice %>$ </td>
	   <%end %>
	   <%end %>
		
	<% end %>
	
	<%end%>
		
  </tr>
<% end %>
</table>

<br />

<% if isadmin? %>
<%= link_to 'New Servicelisting', new_servicelisting_path %>
<%end%>

<p class="jdt" start="12182400" style="color:red;font-size:24px;"> </p>

<script type="text/javascript">
	$('.jdt').jqTimer(function(ele,stime){
		$(ele).html(stime);
	});
</script>
