<% stylesheet('jquery.countdown', 'colorbox')%>
<% javascript('jquery.countdown', 'jquery.colorbox-min')%>

<!-- <script language="JavaScript" src="http://j.maxmind.com/app/geoip.js">
</script>
<script language="JavaScript"> 

</script> -->

<div class="service_listings">
    <% @servicelistings.each do |servicelisting| %>
        <% availability_date = DateTime.parse(servicelisting.availability.to_s)%>
        <!--
        <% time_now = DateTime.parse(DateTime.now.to_s)%>
        <%= DateTime.now.in_time_zone %>
        -->
        <% time_now = DateTime.parse(DateTime.now.in_time_zone.to_s) %>
        <% time_until = availability_date - time_now %>
        <% t = time_until.to_f %>
        <% tt = t*(86400) %>

        <div class="service_listing">
            <div class="info">
                <div class="picture">
                    <%= image_tag servicelisting.photo.url(:thumb), :style => "height: 150px;width:150px;"%>
                </div>
                <div class="address">
                    <p class="address_location" style="margin-bottom: 5px;"><%= servicelisting.location %></p>
                    <p class="city" style="margin-bottom: 5px;"><%= servicelisting.city %>&nbsp;<%= link_to 'Map',  map_bar_bussinesses_path(:city => servicelisting.city) %></p>
                </div>
            </div>
            <div class="info" style="width: 300px;">
                <p class="title" title="<%= servicelisting.title%> "><%= truncate(servicelisting.title, :length => 17) %></p>
                <p class="description"><%= truncate(servicelisting.description, :length => 300) %>&nbsp;&nbsp;<%= link_to 'More Details', servicelisting, :class => 'more_details' %></p>
            </div>
            <div class="info" style="width: 300px;text-align: center;">
                <p style="font-size: 16px;margin-bottom: 10px;color:#FFFFFF;">Expires in</p>
                <% if tt >= 0 %>
				    <p class="jdt time_left" start="<%= tt %>" ></p>
			    <% else %>
				    <p class="time_closed">Closed</p>
			    <% end %>
                <p>&nbsp;</p>
                <div style="padding: 0 50px;">
                    <div style="float: left;">
                        <p style="color: #FFFFFF;font-size: 18px;">Bid</p>
                        <p>&nbsp;</p>
                        <p class="current_value">$<%= servicelisting.highestbid %></p>
                        <p>&nbsp;</p>
                        <% if tt > 0 %>
			                <% if isadmin? %>
				                <%= link_to 'Bid', new_servicelisting_bid_path(servicelisting), :class=>"link_button bid_popup"  %>
			                <% elsif is_barowner? %>
                                <%= link_to 'Bid', new_servicelisting_bid_path(servicelisting), :class=>"link_button bid_popup"  %>
                            <% elsif current_user %>
                                <%= link_to 'Bid', new_servicelisting_bid_path(servicelisting), :class=>"link_button bid_popup"  %>
                            <% else %>
                                <%= link_to 'Bid', new_servicelisting_bid_path(servicelisting), :class=>"link_button"  %>
                            <% end %>
                        <% else %>
                            <label class="faded_links">Bid</label>
                        <% end %>
                    </div>
                    <div style="float: right;">
                        <p style="color: #FFFFFF;font-size: 18px;">Buy Now</p>
                        <p>&nbsp;</p>
                        <p class="buynow_value">$<%= servicelisting.price %></p>
                        <p>&nbsp;</p>
                        <% if tt > 0 %>
                          <% if isadmin? %>
                              <%= link_to 'Buy',  buynow_buynow_index_path(:id => servicelisting), :class=>"link_button bid_popup"  %>
                          <% elsif is_barowner? %>
                              <%= link_to 'Buy',  buynow_buynow_index_path(:id => servicelisting), :class=>"link_button bid_popup"  %>
                          <% elsif current_user %>
                              <%= link_to 'Buy',  buynow_buynow_index_path(:id => servicelisting), :class=>"link_button bid_popup"  %>
                          <% else %>
                              <%= link_to 'Buy',  buynow_buynow_index_path(:id => servicelisting), :class=>"link_button"  %>
                          <% end %>
                        <% else %>
                          <label class="faded_links">Buy</label>
                        <% end %>
                    </div>
                    <div class="clear"></div>
                </div>
                <p class="higher">
                    <%@servicelisting = servicelisting %>
                    <% if current_user %>
                        <% @userhighbid = nil %>
                        <% @servicelisting.bids.each do |bid| %>
                            <% if bid.user_id == current_user.id %>
                                <% if @userhighbid.nil? %>
                                    <% @userhighbid = bid.bidprice %>
                                    <% next %>
                                <% end %>
                                <% if bid.user_id == current_user.id %>
                                    <% if @userhighbid < bid.bidprice %>
                                    <% @userhighbid = bid.bidprice %>
                                    <%end %>
                                <%end %>
                            <%end%>
                        <%end%>
                        <% if !@userhighbid.nil? %>
                            <% if @userhighbid == @servicelisting.highestbid %>
                                <% if tt >0 %>
                                    <%= image_tag "auth/flashstar (1).gif", :size => "15x15" %><font color="#009900">You are the highest bidder</font>
                                <% end %>
                            <% else%>
                                <% if tt >0 %>
                                    <font color="#FF0000"> You are outbid by <%= @servicelisting.highestbid - @userhighbid %>$ </font>
                                <% end %>
                            <%end %>
                        <% else %>
                            <% if tt > 0 %>
                                <font color="#FF0000"> You have not bid on this service </font>
                            <%end%>
                        <% end %>
                    <% end%>
                </p>
            </div>
            <div class="clear"></div>
            <% if isadmin? %>
                <div class="admin-links">
                    <span class="edit"><%= link_to 'Edit', edit_servicelisting_path(servicelisting, :indicator => "ed")%></span>&nbsp;|&nbsp;
                    <span class="delete"><%= link_to 'Destroy', servicelisting, :confirm => 'Are you sure?', :method => :delete %></span>
                </div>
		    <%end%>
        </div>
    <% end %>
</div>
<%= will_paginate @servicelistings %>

<script type="text/javascript">	
	$('.jdt').each(function(i,jdt){
		$(jdt).countdown({
			until:$(jdt).attr('start'),
            layout: '{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}'
		});
	});
	
	//for bid popup
	$('.bid_popup').colorbox();
</script>


