<% stylesheet('jquery.countdown', 'colorbox')%>
<% javascript('jquery.countdown', 'jquery.colorbox-min')%>

<div id="servicelisting_index">
	
	<% @servicelistings.each do |servicelisting| %>

	<% availability_date = DateTime.parse(servicelisting.availability.to_s)%>
	<% time_now = DateTime.parse(DateTime.now.to_s)%>
	<% time_until = availability_date - time_now %>
	<% t = time_until.to_f %>
	<% tt = t*(86400) %></br>	
	
	<div id="servicelisting_index_r">
	
		<p class="title"><%= servicelisting.title %></p>
		<p class="picture"><%= image_tag servicelisting.photo.url, :size => "100x100" %></p>
		<p class="more"><%= link_to 'More', servicelisting %></p>
		<p class="map"><%= link_to 'Map', locations_path(:city => servicelisting.city) %></p>
		<p class="address_fet"><%= servicelisting.location %></p>
		<p class="time_left">Time left to Bid</p>
		<p class="time_left_fet">
			<% if tt >= 0 %>
				<div class="jdt" start="<%= tt %>" ></div>
			<% else %>
				Closed
			<% end %>	
		</p>
		<p class="current_value">Current Value</p>
		<p class="current_value_fet">$<%= servicelisting.highestbid %></p>
		<% if isadmin? %>
			<p class="edit"><%= link_to 'Edit', edit_servicelisting_path(servicelisting) %></p>
			<p class="delete"><%= link_to 'Destroy', servicelisting, :confirm => 'Are you sure?', :method => :delete %></p>
		<%end%>
		<p class="bid">
			<%= link_to 'Bid', new_servicelisting_bid_path(servicelisting), :class=>"links"  %>
		</p>
		<p class="buy"><%= link_to 'Buy',  buynow_buynow_index_path(:id => servicelisting), :class=>"links"  %></p>
		<p class="higher">
			<%@servicelisting = servicelisting %>
			<% if current_user %>  	
	        <% @userhighbid = nil %> 
     		 <% @servicelisting.bids.each do |bid| %>
	     		<% if bid.user_id == current_user.id %>
		    	 <% if @userhighbid.nil? %>
			     <% @userhighbid = bid.bidprice %>
			     <% next %>
			   <% end %>
			 <% if bid.user_id == current_user.id %> 
			 <% if @userhighbid < bid.bidprice %> 
			 <% @userhighbid = bid.bidprice %>
			    <%end %>
			    <%end %> 
			    <%end%>
			    <%end%>     
			 <% if !@userhighbid.nil? %>   
			  <% if @userhighbid == @servicelisting.highestbid %>
			   <%= image_tag "auth/flashstar (1).gif", :size => "15x15" %><font color="#009900">You are the highest bidder</font>
			   <% else%>
			  <font color="#FF0000"> You are outbid by <%= @servicelisting.highestbid - @userhighbid %>$ </font>
			  <%end %>
			  <%else %>
			   <font color="#FF0000"> You have not bid on this service </font>
			   <%end%>  
			   <% end %>
		</p>	
			
	</div>
	</br>	
	<% end %>
</div>		
<%= will_paginate @servicelistings %>


<script type="text/javascript">	
	$('.jdt').each(function(i,jdt){
		$(jdt).countdown({
			until:$(jdt).attr('start'),
			format:'dHMS',
			compact: true
		});
	});
	
	//for bid popup
	$('.bid_popup').colorbox();
</script>


