<% stylesheet('jquery.countdown', 'colorbox')%>
<% javascript('jquery.countdown', 'jquery.colorbox-min')%>

<!--
<style type="text/css">
	.countdown_amount {
		font-size: 12px;
		color: red;
	}
</style>
-->
<%= @city %>

<table border="0" align="center">
  <tr>
    <td><h1 align="center" style="color:#fff"> Today's Auctions </h1></td>
    <td>
     <h1 align="center" style="color:#fff"> 
    	<%= select_tag :city, options_for_select([
    														
[@city, "0"],
["Agra", "agra"],
["Bettiah", "Bettiah"],    														
["Aberdeen, SD (ABR)","ABR"],	
["Abilene, TX (ABI)","ABI"],	
["Adak Island, AK (ADK)","ADK"],	
["Akiachak, AK (KKI)","KKI"],	
["Akiak, AK (AKI)","AKI"],	
["Akron/Canton, OH (CAK)","CAK"],	
["Akuton, AK (KQA)","KQA"],	
["Alakanuk, AK (AUK)","AUK"],	
["Alamogordo, NM (ALM)","ALM"],	
["Alamosa, CO (ALS)","ALS"],	
["Albany, NY (ALB)","ALB"],	
["Albany, OR - Bus service (CVO)"],	
["Albany, OR - Bus service (QWY)","QWY"],	
["Albuquerque, NM (ABQ)","ABQ"],	
["Aleknagik, AK (WKK)","WKK"],	
["Alexandria, LA (AEX)","AEX"],	
["Allakaket, AK (AET)","AET"],	
["Allentown, PA (ABE)","ABE"],	
["Alliance, NE (AIA)","AIA"],	
["Alpena, MI (APN)","APN"],	
["Altoona, PA (AOO)","AOO"],	
["Amarillo, TX (AMA)","AMA"],	
["Ambler, AK (ABL)","ABL"],	
["Anaktueuk, AK (AKP)","AKP"],	
["Anchorage, AK (ANC)","ANC"],	
["Angoon, AK (AGN)","AGN"],	
["Aniak, AK (ANI)","ANI"],	
["ANV","Anvik, AK (ANV)",],	
["ATW","Appleton, WI (ATW)",],	
["ACV","Arcata, CA (ACV)",],	
["ARC","Arctic Village, AK (ARC)",],	
["AVL","Asheville, NC (AVL)",],	
["HTS","Ashland, KY/Huntington, WV (HTS)",],	
["ASE","Aspen, CO (ASE)",],	
["AHN","Athens, GA (AHN)",],	
["AKB","Atka, AK (AKB)",],	
["ATL","Atlanta, GA (ATL)",],	
["AIY","Atlantic City, NJ (AIY)",],	
["ATK","Atqasuk, AK (ATK)",],	
["AGS","Augusta, GA (AGS)",],	
["AUG","Augusta, ME (AUG)",],	
["AUS","Austin, TX (AUS)",],	
["BFL","Bakersfield, CA (BFL)",],	
["BWI","Baltimore, MD (BWI)",],	
["BGR","Bangor, ME (BGR)",],	
["BHB","Bar Harbour, ME (BHB)",],	
["BRW","Barrow, AK (BRW)",],	
["BTI","Barter Island, AK (BTI)",],	
["BTR","Baton Rouge, LA (BTR)",],	
["MBS","Bay City, MI (MBS)",],	
["BPT","Beaumont/Port Arthur, TX (BPT)",],	
["ZBV","Beaver Creek, CO - Van service (ZBV)",],	
["WBQ","Beaver, AK (WBQ)",],	
["BKW","Beckley, WV (BKW)",],	
["BED","Bedford, MA (BED)",],	
["BLV","Belleville, IL (BLV)",],	
["BLI","Bellingham, WA (BLI)",],	
["BJI","Bemidji, MN (BJI)",],	
["BEH","Benton Harbor, MI (BEH)",],	
["BET","Bethel, AK (BET)",],	
["ABE","Bethlehem, PA (ABE)",],	
["BTT","Bettles, AK (BTT)",],	
["BIL","Billings, MT (BIL)",],	
["GPT","Biloxi/Gulfport, MS (GPT)",],	
["BGM","Binghamton, NY (BGM)",],	
["KBC","Birch Creek, AK (KBC)",],	
["BHM","Birmingham, AL (BHM)",],	
["BIS","Bismarck, ND (BIS)",],	
["BID","Block Island, RI (BID)",],	
["BMI","Bloomington, IL (BMI)",],	
["BLF","Bluefield, WV (BLF)",],	
["BOI","Boise, ID (BOI)",],	
["BOS","Boston, MA (BOS)",],	
["XHH","Boulder, CO - Bus service (XHH)",],	
["WHH","Boulder, CO - Hiltons Har H (WHH)",],	
["WBU","Boulder, CO - Municipal Airport (WBU)",],	
["BYA","Boundary, AK (BYA)",],	
["BWG","Bowling Green, KY (BWG)",],	
["BZN","Bozeman, MT (BZN)",],	
["BFD","Bradford, PA (BFD)",],	
["BRD","Brainerd, MN (BRD)",],	
["BWD","Brawnwood, TX (BWD)",],	
["QKB","Breckenridge, CO - Van service (QKB)",],	
["TRI","Bristol, VA (TRI)",],	
["BKX","Brookings, SD (BKX)",],	
["RBH","Brooks Lodge, AK (RBH)",],	
["BRO","Brownsville, TX (BRO)",],	
["BQK","Brunswick, GA (BQK)",],	
["BKC","Buckland, AK (BKC)",],	
["BUF","Buffalo, NY (BUF)",],	
["IFP","Bullhead City/Laughlin, AZ (IFP)",],	
["BUR","Burbank, CA (BUR)",],	
["BRL","Burlington, IA (BRL)",],	
["BTV","Burlington, VT (BTV)",],	
["BTM","Butte, MT (BTM)",],	
["CAK","Canton/Akron, OH (CAK)",],	
["CGI","Cape Girardeau, MO (CGI)",],	
["LUR","Cape Lisburne, AK (LUR)",],	
["EHM","Cape Newenham, AK (EHM)",],	
["MDH","Carbondale, IL (MDH)",],	
["CLD","Carlsbad, CA (CLD)",],	
["CNM","Carlsbad, NM (CNM)",],	
["MRY","Carmel, CA (MRY)",],	
["CPR","Casper, WY (CPR)",],	
["CDC","Cedar City, UT (CDC)",],	
["CID","Cedar Rapids, IA (CID)",],	
["CEM","Central, AK (CEM)",],	
["CDR","Chadron, NE (CDR)",],	
["CIK","Chalkyitsik, AK (CIK)",],	
["CMI","Champaign/Urbana, IL (CMI)",],	
["CHS","Charleston, SC (CHS)",],	
["CRW","Charleston, WV (CRW)",],	
["CLT","Charlotte, NC (CLT)",],	
["CHO","Charlottesville, VA (CHO)",],	
["CHA","Chattanooga, TN (CHA)",],	
["CYF","Chefornak, AK (CYF)",],	
["VAK","Chevak, AK (VAK)",],	
["CYS","Cheyenne, WY (CYS)",],	
["CHI","Chicago, IL - All airports (CHI)",],	
["MDW","Chicago, IL - Midway (MDW)",],	
["ORD","Chicago, IL - O'Hare (ORD)",],	
["CKX","Chicken, AK (CKX)",],	
["CIC","Chico, CA (CIC)",],	
["KCG","Chignik, AK - Fisheries (KCG)",],	
["KCQ","Chignik, AK - (KCQ)",],	
["KCL","Chignik, AK - Lagoon (KCL)",],	
["CZN","Chisana, AK (CZN)",],	
["HIB","Chisholm/Hibbing, MN (HIB)",],	
["CHU","Chuathbaluk, AK (CHU)",],	
["CVG","Cincinnati, OH (CVG)",],	
["CHP","Circle Hot Springs, AK (CHP)",],	
["IRC","Circle, AK (IRC)",],	
["CLP","Clarks Point, AK (CLP)",],	
["CKB","Clarksburg, WV (CKB)",],	
["PIE","Clearwater/St Petersburg, FL (PIE)",],	
["CLE","Cleveland, OH (CLE)",],	
["CVN","Clovis, NM (CVN)",],	
["COD","Cody/Yellowstone, WY (COD)",],	
["CFA","Coffee Point, AK (CFA)",],	
["KCC","Coffman Cove, AK (KCC)",],	
["CDB","Cold Bay, AK (CDB)",],	
["CLL","College Station, TX (CLL)",],	
["COS","Colorado Springs, CO (COS)",],	
["COU","Columbia, MO (COU)",],	
["CAE","Columbia, SC (CAE)",],	
["CSG","Columbus, GA (CSG)",],	
["GTR","Columbus, MS (GTR)",],	
["CMH","Columbus, OH (CMH)",],	
["CCR","Concord, CA (CCR)",],	
["CNK","Concordia, KS (CNK)",],	
["QCE","Copper Mountain, CO - Van service (QCE)",],	
["CDV","Cordova, AK (CDV)",],	
["CRP","Corpus Christi, TX (CRP)",],	
["CEZ","Cortez, CO (CEZ)",],	
["CGA","Craig, AK (CGA)",],	
["CEC","Crescent City, CA (CEC)",],	
["CKO","Crooked Creek, AK (CKO)",],	
["CUW","Cube Cove, AK (CUW)",],	
["CBE","Cumberland, MD (CBE)",],	
["DAL","Dallas, TX - Love Field (DAL)",],	
["DFW","Dallas, TX - Dallas/Ft Worth Intl. (DFW)",],	
["DAY","Dayton, OH (DAY)",],	
["DAB","Daytona Beach, FL (DAB)",],	
["DEC","Decatur, IL (DEC)",],	
["DRG","Deering, AK (DRG)",],	
["DRT","Del Reo, TX (DRT)",],	
["DJN","Delta Junction, AK (DJN)",],	
["DEN","Denver, CO - International (DEN)",],	
["QWM","Denver, CO - Longmont Bus service (QWM)",],	
["DSM","Des Moines, IA (DSM)",],	
["DTT","Detroit, MI - All airports (DTT)",],	
["DTW","Detroit, MI - Metro/Wayne County (DTW)",],	
["DVL","Devil's Lake, ND (DVL)",],	
["DIK","Dickinson, ND (DIK)",],	
["DLG","Dillingham, AK (DLG)",],	
["DDC","Dodge City, KS (DDC)",],	
["DHN","Dothan, AL (DHN)",],	
["DUJ","Dubois, PA (DUJ)",],	
["DBQ","Dubuque, IA (DBQ)",],	
["DLH","Duluth, MN (DLH)",],	
["DRO","Durango, CO (DRO)",],	
["RDU","Durham, NC (RDU)",],	
["RDU","Durham/Raleigh, NC (RDU)",],	
["DUT","Dutch Harbor, AK (DUT)",],	
["ABE","Easton, PA (ABE)",],	
["EAU","Eau Claire, WI (EAU)",],	
["EDA","Edna Bay, AK (EDA)",],	
["EEK","Eek, AK (EEK)",],	
["KKU","Ekuk, AK (KKU)",],	
["KEK","Ekwok, AK (KEK)",],	
["IPL","El Centro, CA (IPL)",],	
["ELD","El Dorado, AR (ELD)",],	
["ELP","El Paso, TX (ELP)",],	
["ELV","Elfin Cove, AK (ELV)",],	
["ELI","Elim, AK (ELI)",],	
["EKO","Elko, NV (EKO)",],	
["ELM","Elmira, NY (ELM)",],	
["LYU","Ely, MN (LYU)",],	
["EMK","Emmonak, AK (EMK)",],	
["BGM","Endicott, NY (BGM)",],	
["WDG","Enid, OK (WDG)",],	
["ERI","Erie, PA (ERI)",],	
["ESC","Escanaba, MI (ESC)",],	
["EUG","Eugene, OR (EUG)",],	
["ACV","Eureka/Arcata, CA (ACV)",],	
["EUE","Eureka, NV (EUE)",],	
["EVV","Evansville, IN (EVV)",],	
["FAI","Fairbanks, AK (FAI)",],	
["FAR","Fargo, ND (FAR)",],	
["FMN","Farmington, NM (FMN)",],	
["FYV","Fayetteville, AR - Municipal/Drake (FYV)",],	
["XNA","Fayetteville, AR - Northwest Arkansas Regional (XNA)",],	
["FAY","Fayetteville, NC (FAY)",],	
["FLG","Flagstaff, AZ (FLG)",],	
["FNT","Flint, MI (FNT)",],	
["FLO","Florence, SC (FLO)",],	
["MSL","Florence/Muscle Shoals/Sheffield, AL (MSL)",],	
["FNL","Fort Collins/Loveland, CO - Municipal Airport (FNL)",],	
["QWF","Fort Collins/Loveland, CO - Bus service (QWF)",],	
["FOD","Fort Dodge, IA (FOD)",],	
["FLL","Fort Lauderdale, FL (FLL)",],	
["TBN","Fort Leonard Wood, MO (TBN)",],	
["RSW","Fort Myers, FL (RSW)",],	
["FSM","Fort Smith, AR (FSM)",],	
["VPS","Fort Walton Beach, FL (VPS)",],	
["FWA","Fort Wayne, IN (FWA)",],	
["DFW","Fort Worth/Dallas, TX (DFW)",],	
["FKL","Franklin, PA (FKL)",],	
["FAT","Fresno, CA (FAT)",],	
["GNV","Gainesville, FL (GNV)",],	
["GUP","Gallup, NM (GUP)",],	
["GCK","Garden City, KS (GCK)",],	
["GYY","Gary, IN (GYY)",],	
["GCC","Gillette, WY (GCC)",],	
["GGG","Gladewater/Kilgore, TX (GGG)",],	
["GGW","Glasgow, MT (GGW)",],	
["GDV","Glendive, MT (GDV)",],	
["GLV","Golovin, AK (GLV)",],	
["GNU","Goodnews Bay, AK (GNU)",],	
["JGC","Grand Canyon, AZ - Heliport (JGC)",],	
["GCN","Grand Canyon, AZ - National Park (GCN)",],	
["GFK","Grand Forks, ND (GFK)",],	
["GRI","Grand Island, NE (GRI)",],	
["GJT","Grand Junction, CO (GJT)",],	
["GRR","Grand Rapids, MI (GRR)",],	
["GPZ","Grand Rapids, MN (GPZ)",],	
["KGX","Grayling, AK (KGX)",],	
["GTF","Great Falls, MT (GTF)",],	
["GRB","Green Bay, WI (GRB)",],	
["GSO","Greensboro, NC (GSO)",],	
["GLH","Greenville, MS (GLH)",],	
["PGV","Greenville, NC (PGV)",],	
["GSP","Greenville/Spartanburg, SC (GSP)",],	
["GON","Groton/New London, CT (GON)",],	
["GPT","Gulfport, MS (GPT)",],	
["GUC","Gunnison, CO (GUC)",],	
["GST","Gustavus, AK (GST)",],	
["HGR","Hagerstown, MD (HGR)",],	
["SUN","Hailey, ID (SUN)",],	
["HNS","Haines, AK (HNS)",],	
["PHF","Hampton, VA (PHF)",],	
["HNM","Hana, HI - Island of Maui (HNM)",],	
["PAK","Hanapepe, HI (PAK)",],	
["CMX","Hancock, MI (CMX)",],	
["LEB","Hanover, NH (LEB)",],	
["HRL","Harlingen, TX (HRL)",],	
["MDT","Harrisburg, PA (MDT)",],	
["HRO","Harrison, AR (HRO)",],	
["BDL","Hartford, CT (BDL)",],	
["HAE","Havasupai, AZ (HAE)",],	
["HVR","Havre, MT (HVR)",],	
["HDN","Hayden, CO (HDN)",],	
["HYS","Hays, KS (HYS)",],	
["HKB","Healy Lake, AK (HKB)",],	
["HLN","Helena, MT (HLN)",],	
["AVL","Hendersonville, NC (AVL)",],	
["HIB","Hibbing/Chisholm, MN (HIB)",],	
["HKY","Hickory, NC (HKY)",],	
["GSO","High Point, NC (GSO)",],	
["ITO","Hilo, HI - Island of Hawaii (ITO)",],	
["HHH","Hilton Head, SC (HHH)",],	
["HBB","Hobbs, NM (HBB)",],	
["HYL","Hollis, AK (HYL)",],	
["HCR","Holy Cross, AK (HCR)",],	
["HOM","Homer, AK (HOM)",],	
["HNL","Honolulu, HI - Island of Oahu (HNL)",],	
["MKK","Hoolehua, HI - Island of Molokai (MKK)",],	
["HNH","Hoonah, AK (HNH)",],	
["HPB","Hooper Bay, AK (HPB)",],	
["HOT","Hot Springs, AR (HOT)",],	
["HOU","Houston, TX - All airports (HOU)",],	
["HOU","Houston, TX - Hobby (HOU)",],	
["IAH","Houston, TX - Intercontinental (IAH)",],	
["HUS","Hughes, AK (HUS)",],	
["HTS","Huntington, WV/Ashland, KY (HTS)",],	
["HSV","Huntsville, AL (HSV)",],	
["HON","Huron, SD (HON)",],	
["HSL","Huslia, AK (HSL)",],	
["HYA","Hyannis, MA (HYA)",],	
["HYG","Hydaburg, AK (HYG)",],	
["IDA","Idaho Falls, ID (IDA)",],	
["IGG","Igiugig, AK (IGG)",],	
["ILI","Iliamna, AK (ILI)",],	
["IPL","Imperial, CA (IPL)",],	
["IND","Indianapolis, IN (IND)",],	
["INL","International Falls, MN (INL)",],	
["IYK","Inyokern, CA (IYK)",],	
["IMT","Iron Mountain, MI (IMT)",],	
["IWD","Ironwood, MI (IWD)",],	
["ISP","Islip, NY (ISP)",],	
["ITH","Ithaca, NY (ITH)",],	
["JAC","Jackson Hole, WY (JAC)",],	
["JAN","Jackson, MS (JAN)",],	
["MKL","Jackson, TN (MKL)",],	
["JAX","Jacksonville, FL (JAX)",],	
["OAJ","Jacksonville, NC (OAJ)",],	
["JMS","Jamestown, ND (JMS)",],	
["JHW","Jamestown, NY (JHW)",],	
["JVL","Janesville, WI (JVL)",],	
["BGM","Johnson City, NY (BGM)",],	
["TRI","Johnson City, TN (TRI)",],	
["JST","Johnstown, PA (JST)",],	
["JBR","Jonesboro, AR (JBR)",],	
["JLN","Joplin, MO (JLN)",],	
["JNU","Juneau, AK (JNU)",],	
["OGG","Kahului, HI - Island of Maui, (OGG)",],	
["KAE","Kake, AK (KAE)",],	
["KNK","Kakhonak, AK (KNK)",],	
["AZO","Kalamazoo, MI (AZO)",],	
["LUP","Kalaupapa, HI - Island of Molokai, (LUP)",],	
["KLG","Kalskag, AK (KLG)",],	
["KAL","Kaltag, AK (KAL)",],	
["MUE","Kamuela, HI - Island of Hawaii, (MUE)",],	
["MCI","Kansas City, MO (MCI)",],	
["JHM","Kapalua, HI - Island of Maui, (JHM)",],	
["KXA","Kasaan, AK (KXA)",],	
["KUK","Kasigluk, AK (KUK)",],	
["LIH","Kauai Island/Lihue, HI (LIH)",],	
["EAR","Kearney, NE (EAR)",],	
["EEN","Keene, NH (EEN)",],	
["ENA","Kenai, AK (ENA)",],	
["KTN","Ketchikan, AK (KTN)",],	
["EYW","Key West, FL (EYW)",],	
["QKS","Keystone, CO - Van service (QKS)",],	
["IAN","Kiana, AK (IAN)",],	
["GGG","Kilgore/Gladewater, TX (GGG)",],	
["ILE","Killeen, TX (ILE)",],	
["KVC","King Cove, AK (KVC)",],	
["AKN","King Salmon, AK (AKN)",],	
["IGM","Kingman, AZ (IGM)",],	
["TRI","Kingsport, TN (TRI)",],	
["KPN","Kipnuk, AK (KPN)",],	
["IRK","Kirksville, MO (IRK)",],	
["KVL","Kivalina, AK (KVL)",],	
["LMT","Klamath Falls, OR (LMT)",],	
["KLW","Klawock, AK (KLW)",],	
["TYS","Knoxville, TN (TYS)",],	
["OBU","Kobuk, AK (OBU)",],	
["ADQ","Kodiak, AK (ADQ)",],	
["KOA","Kona, HI - Island of Hawaii (KOA)",],	
["KKH","Kongiganak, AK (KKH)",],	
["KOT","Kotlik, AK (KOT)",],	
["OTZ","Kotzebue, AK (OTZ)",],	
["KYU","Koyukuk, AK (KYU)",],	
["KWT","Kwethluk, AK (KWT)",],	
["KWK","Kwigillingok, AK (KWK)",],	
["LSE","La Crosse, WI (LSE)",],	
["LAF","Lafayette, IN (LAF)",],	
["LFT","Lafayette, LA (LFT)",],	
["LCH","Lake Charles, LA (LCH)",],	
["HII","Lake Havasu City, AZ (HII)",],	
["LMA","Lake Minchumina, AK (LMA)",],	
["LNY","Lanai City, HI - Island of Lanai (LNY)",],	
["LNS","Lancaster, PA (LNS)",],	
["LAN","Lansing, MI (LAN)",],	
["LAR","Laramie, WY (LAR)",],	
["LRD","Laredo, TX (LRD)",],	
["LAS","Las Vegas, NV (LAS)",],	
["LBE","Latrobe, PA (LBE)",],	
["PIB","Laurel, MS (PIB)",],	
["LAW","Lawton, OK (LAW)",],	
["LEB","Lebanon, NH (LEB)",],	
["KLL","Levelock, AK (KLL)",],	
["LWB","Lewisburg, WV (LWB)",],	
["LWS","Lewiston, ID (LWS)",],	
["LWT","Lewistown, MT (LWT)",],	
["LEX","Lexington, KY (LEX)",],	
["LBL","Liberal, KS (LBL)",],	
["LIH","Lihue, HI - Island of Kaui (LIH)",],	
["LNK","Lincoln, NE (LNK)",],	
["LIT","Little Rock, AR (LIT)",],	
["LGB","Long Beach, CA (LGB)",],	
["GGG","Longview, TX (GGG)",],	
["LPS","Lopez Island, WA (LPS)",],	
["LAX","Los Angeles, CA (LAX)",],	
["SDF","Louisville, KY (SDF)",],	
["FNL","Loveland/Fort Collins, CO - Municipal Airport (FNL)",],	
["QWF","Loveland/Fort Collins, CO - Bus service (QWF)",],	
["LBB","Lubbock, TX (LBB)",],	
["MCN","Macon, GA (MCN)",],	
["MSN","Madison, WI (MSN)",],	
["MDJ","Madras, OR (MDJ)",],	
["MHT","Manchester, NH (MHT)",],	
["MHK","Manhattan, KS (MHK)",],	
["MBL","Manistee, MI (MBL)",],	
["MKT","Mankato, MN (MKT)",],	
["MLY","Manley Hot Springs, AK (MLY)",],	
["KMO","Manokotak, AK (KMO)",],	
["PKB","Marietta, OH/Parkersburg, WV (PKB)",],	
["MWA","Marion, IL (MWA)",],	
["MQT","Marquette, MI (MQT)",],	
["MLL","Marshall, AK (MLL)",],	
["MVY","Martha's Vineyard, MA (MVY)",],	
["AOO","Martinsburg, PA (AOO)",],	
["MCW","Mason City, IA (MCW)",],	
["MSS","Massena, NY (MSS)",],	
["OGG","Maui, HI (OGG)",],	
["MFE","Mcallen, TX (MFE)",],	
["MCK","Mccook, NE (MCK)",],	
["MCG","Mcgrath, AK (MCG)",],	
["MFR","Medford, OR (MFR)",],	
["MYU","Mekoryuk, AK (MYU)",],	
["MLB","Melbourne, FL (MLB)",],	
["MEM","Memphis, TN (MEM)",],	
["MCE","Merced, CA (MCE)",],	
["MEI","Meridian, MS (MEI)",],	
["MTM","Metlakatla, AK (MTM)",],	
["WMK","Meyers Chuck, AK (WMK)",],	
["MIA","Miami, FL - International (MIA)",],	
["MPB","Miami, FL - Sea Plane Base (MPB)",],	
["MBS","Midland, MI (MBS)",],	
["MAF","Midland/Odessa, TX (MAF)",],	
["MLS","Miles City, MT (MLS)",],	
["MKE","Milwaukee, WI (MKE)",],	
["MSP","Minneapolis, MN (MSP)",],	
["MOT","Minot, ND (MOT)",],	
["MNT","Minto, AK (MNT)",],	
["MFE","Mission, TX (MFE)",],	
["MSO","Missoula, MT (MSO)",],	
["CNY","Moab, UT (CNY)",],	
["MOB","Mobile, AL (MOB)",],	
["MOD","Modesto, CA (MOD)",],	
["MLI","Moline, IL (MLI)",],	
["MLU","Monroe, LA (MLU)",],	
["MRY","Monterey, CA (MRY)",],	
["MGM","Montgomery, AL (MGM)",],	
["MTJ","Montrose, CO (MTJ)",],	
["MGW","Morgantown, WV (MGW)",],	
["MWH","Moses Lake, WA (MWH)",],	
["WMH","Mountain Home, AR (WMH)",],	
["MOU","Mountain Village, AK (MOU)",],	
["MSL","Muscle Shoals, AL (MSL)",],	
["MKG","Muskegon, MI (MKG)",],	
["MYR","Myrtle Beach, SC (MYR)",],	
["ACK","Nantucket, MA (ACK)",],	
["WNA","Napakiak, AK (WNA)",],	
["PKA","Napaskiak, AK (PKA)",],	
["APF","Naples, FL (APF)",],	
["BNA","Nashville, TN (BNA)",],	
["NKI","Naukiti, AK (NKI)",],	
["NLG","Nelson Lagoon, AK (NLG)",],	
["NCN","New Chenega, AK (NCN)",],	
["HVN","New Haven, CT (HVN)",],	
["KGK","New Koliganek, AK (KGK)",],	
["GON","New London/Groton (GON)",],	
["MSY","New Orleans, LA (MSY)",],	
["KNW","New Stuyahok, AK (KNW)",],	
["NYC","New York, NY - All airports (NYC)",],	
["JFK","New York, NY - Kennedy (JFK)",],	
["LGA","New York, NY - La Guardia (LGA)",],	
["EWR","Newark, NJ (EWR)",],	
["SWF","Newburgh/Stewart Field, NY (SWF)",],	
["PHF","Newport News, VA (PHF)",],	
["WWT","Newtok, AK (WWT)",],	
["NME","Nightmute, AK (NME)",],	
["NIB","Nikolai, AK (NIB)",],	
["IKO","Nikolski, AK (IKO)",],	
["WTK","Noatak, AK (WTK)",],	
["OME","Nome, AK (OME)",],	
["NNL","Nondalton, AK (NNL)",],	
["ORV","Noorvik, AK (ORV)",],	
["OFK","Norfolk, NE (OFK)",],	
["ORF","Norfolk, VA (ORF)",],	
["OTH","North Bend, OR (OTH)",],	
["LBF","North Platte, NE (LBF)",],	
["ORT","Northway, AK (ORT)",],	
["NUI","Nuiqsut, AK (NUI)",],	
["NUL","Nulato, AK (NUL)",],	
["NUP","Nunapitchuk, AK (NUP)",],	
["OAK","Oakland, CA (OAK)",],	
["MAF","Odessa/Midland, TX (MAF)",],	
["OGS","Ogdensburg, NY (OGS)",],	
["OKC","Oklahoma City, OK (OKC)",],	
["OMA","Omaha, NE (OMA)",],	
["ONT","Ontario, CA (ONT)",],	
["SNA","Orange County, CA (SNA)",],	
["ORL","Orlando, FL - Herndon (ORL)",],	
["MCO","Orlando, FL - International (MCO)",],	
["OSH","Oshkosh, WI (OSH)",],	
["OTM","Ottumwa, IA (OTM)",],	
["OWB","Owensboro, KY (OWB)",],	
["OXR","Oxnard/Ventura, CA (OXR)",],	
["PAH","Paducah, KY (PAH)",],	
["PGA","Page, AZ (PGA)",],	
["PSP","Palm Springs, CA (PSP)",],	
["PFN","Panama City, FL (PFN)",],	
["PKB","Parkersburg, WV/Marietta, OH (PKB)",],	
["PSC","Pasco, WA (PSC)",],	
["PDB","Pedro Bay, AK (PDB)",],	
["PEC","Pelican, AK (PEC)",],	
["PLN","Pellston, MI (PLN)",],	
["PDT","Pendleton, OR (PDT)",],	
["PNS","Pensacola, FL (PNS)",],	
["PIA","Peoria, IL (PIA)",],	
["KPV","Perryville, AK (KPV)",],	
["PSG","Petersburg, AK (PSG)",],	
["PHL","Philadelphia, PA - International (PHL)",],	
["TTN","Philadelphia, PA - Trenton/Mercer NJ (TTN)",],	
["PHX","Phoenix, AZ (PHX)",],	
["PIR","Pierre, SD (PIR)",],	
["UGB","Pilot Point, AK - Ugashnik Bay (UGB)",],	
["PIP","Pilot Point, AK (PIP)",],	
["PQS","Pilot Station, AK (PQS)",],	
["PIT","Pittsburgh, PA (PIT)",],	
["PTU","Platinum, AK (PTU)",],	
["PLB","Plattsburgh, NY (PLB)",],	
["PIH","Pocatello, ID (PIH)",],	
["KPB","Point Baker, AK (KPB)",],	
["PHO","Point Hope, AK (PHO)",],	
["PIZ","Point Lay, AK (PIZ)",],	
["PNC","Ponca City, OK (PNC)",],	
["PSE","Ponce, Puerto Rico (PSE)",],	
["PTA","Port Alsworth, AK (PTA)",],	
["CLM","Port Angeles, WA (CLM)",],	
["BPT","Port Arthur/Beaumont, TX (BPT)",],	
["KPC","Port Clarence, AK (KPC)",],	
["PTH","Port Heiden, AK (PTH)",],	
["PML","Port Moller, AK (PML)",],	
["PPV","Port Protection, AK (PPV)",],	
["PCA","Portage Creek, AK (PCA)",],	
["PWM","Portland, ME (PWM)",],	
["PDX","Portland, OR (PDX)",],	
["PSM","Portsmouth, NH (PSM)",],	
["POU","Poughkeepsie, NY (POU)",],	
["PRC","Prescott, AZ (PRC)",],	
["PQI","Presque Isle, ME (PQI)",],	
["BLF","Princeton, WV (BLF)",],	
["PVD","Providence, RI (PVD)",],	
["PVC","Provincetown, MA (PVC)",],	
["SCC","Prudhoe Bay/Deadhorse, AK (SCC)",],	
["PUB","Pueblo, CO (PUB)",],	
["PUW","Pullman, WA (PUW)",],	
["UIN","Quincy, IL (UIN)",],	
["KWN","Quinhagak, AK (KWN)",],	
["RDU","Raleigh/Durham, NC (RDU)",],	
["RMP","Rampart, AK (RMP)",],	
["RAP","Rapid City, SD (RAP)",],	
["RDG","Reading, PA (RDG)",],	
["RDV","Red Devil, AK (RDV)",],	
["RDD","Redding, CA (RDD)",],	
["RDM","Redmond, OR (RDM)",],	
["RNO","Reno, NV (RNO)",],	
["RHI","Rhinelander, WI, (RHI)",],	
["RIC","Richmond, VA (RIC)",],	
["RIW","Riverton, WY (RIW)",],	
["ROA","Roanoke, VA (ROA)",],	
["RCE","Roche Harbor, WA (RCE)",],	
["RST","Rochester, MN (RST)",],	
["ROC","Rochester, NY (ROC)",],	
["RKS","Rock Springs, WY (RKS)",],	
["RFD","Rockford, IL (RFD)",],	
["RKD","Rockland, ME (RKD)",],	
["RSJ","Rosario, WA (RSJ)",],	
["ROW","Roswell, NM (ROW)",],	
["RBY","Ruby, AK (RBY)",],	
["RSH","Russian Mission, AK (RSH)",],	
["RUT","Rutland, VT (RUT)",],	
["SMF","Sacramento, CA (SMF)",],	
["MBS","Saginaw, MI (MBS)",],	
["STC","Saint Cloud, MN (STC)",],	
["STG","Saint George Island, AK (STG)",],	
["SGU","Saint George, UT (SGU)",],	
["STL","Saint Louis, MO (STL)",],	
["KSM","Saint Mary's, AK (KSM)",],	
["SMK","Saint Michael, AK (SMK)",],	
["SNP","Saint Paul Island, AK (SNP)",],	
["SLE","Salem, OR (SLE)",],	
["SLN","Salina, KS (SLN)",],	
["SBY","Salisbury-Ocean City, MD (SBY)",],	
["SLC","Salt Lake City, UT (SLC)",],	
["SJT","San Angelo, TX (SJT)",],	
["SAT","San Antonio, TX (SAT)",],	
["SAN","San Diego, CA (SAN)",],	
["SFO","San Francisco, CA (SFO)",],	
["SJC","San Jose, CA (SJC)",],	
["SJU","San Juan, Puerto Rico (SJU)",],	
["SBP","San Luis Obispo, CA (SBP)",],	
["SDP","Sand Point, AK (SDP)",],	
["SFB","Sanford, FL (SFB)",],	
["SNA","Santa Ana, CA (SNA)",],	
["SBA","Santa Barbara, CA (SBA)",],	
["SAF","Santa Fe, NM (SAF)",],	
["SMX","Santa Maria, CA (SMX)",],	
["STS","Santa Rosa, CA (STS)",],	
["SLK","Saranac Lake, NY (SLK)",],	
["SRQ","Sarasota, FL (SRQ)",],	
["CIU","Sault Ste Marie, MI, (CIU)",],	
["SAV","Savannah, GA (SAV)",],	
["SVA","Savoonga, AK (SVA)",],	
["SCM","Scammon Bay, AK (SCM)",],	
["BFF","Scottsbluff, NE (BFF)",],	
["AVP","Scranton, PA (AVP)",],	
["LKE","Seattle, WA - Lake Union SPB (LKE)",],	
["SEA","Seattle, WA - Seattle/Tacoma International (SEA)",],	
["WLK","Selawik, AK (WLK)",],	
["SWD","Seward, AK (SWD)",],	
["SHX","Shageluk, AK (SHX)",],	
["SKK","Shaktoolik, AK (SKK)",],	
["MSL","Sheffield/Florence/Muscle Shoals, AL (MSL)",],	
["SXP","Sheldon Point, AK (SXP)",],	
["SHR","Sheridan, WY (SHR)",],	
["SHH","Shishmaref, AK (SHH)",],	
["SHV","Shreveport, LA (SHV)",],	
["SHG","Shungnak, AK (SHG)",],	
["SVC","Silver City, NM (SVC)",],	
["SUX","Sioux City, IA (SUX)",],	
["FSD","Sioux Falls, SD (FSD)",],	
["SIT","Sitka, AK (SIT)",],	
["SGY","Skagway, AK (SGY)",],	
["SLQ","Sleetmore, AK (SLQ)",],	
["SBN","South Bend, IN (SBN)",],	
["WSN","South Naknek, AK (WSN)",],	
["SOP","Southern Pines, NC (SOP)",],	
["GSP","Spartanburg/Greenville, SC (GSP)",],	
["GEG","Spokane, WA (GEG)",],	
["SPI","Springfield, IL (SPI)",],	
["SGF","Springfield, MO (SGF)",],	
["PIE","St Petersburg/Clearwater, FL (PIE)",],	
["SCE","State College/University Park, PA (SCE)",],	
["SHD","Staunton, VA (SHD)",],	
["SBS","Steamboat Springs, CO (SBS)",],	
["WBB","Stebbins, AK (WBB)",],	
["CWA","Stevens Point/Wausau, WI (CWA)",],	
["SVS","Stevens Village, AK (SVS)",],	
["SWF","Stewart Field/Newburgh, NY (SWF)",],	
["SCK","Stockton, CA (SCK)",],	
["SRV","Stony River, AK (SRV)",],	
["SUN","Sun Valley, ID (SUN)",],	
["SYR","Syracuse, NY (SYR)",],	
["TCT","Takotna, AK (TCT)",],	
["TKA","Talkeetna, AK (TKA)",],	
["TLH","Tallahassee, FL (TLH)",],	
["TPA","Tampa, FL (TPA)",],	
["TAL","Tanana, AK (TAL)",],	
["TSM","Taos, NM (TSM)",],	
["TEK","Tatitlek, AK (TEK)",],	
["KTS","Teller Mission, AK (KTS)",],	
["TEX","Telluride, CO (TEX)",],	
["TKE","Tenakee Springs, AK (TKE)",],	
["HUF","Terre Haute, IN (HUF)",],	
["TEH","Tetlin, AK (TEH)",],	
["TXK","Texarkana, AR (TXK)",],	
["TVF","Thief River Falls, MN (TVF)",],	
["KTB","Thorne Bay, AK (KTB)",],	
["TNC","Tin City, AK (TNC)",],	
["TOG","Togiak Village, AK (TOG)",],	
["TKJ","Tok, AK (TKJ)",],	
["OOK","Toksook Bay, AK (OOK)",],	
["TOL","Toledo, OH (TOL)",],	
["FOE","Topeka, KS (FOE)",],	
["TVC","Traverse City, MI (TVC)",],	
["TTN","Trenton/Mercer, NJ (TTN)",],	
["TUS","Tucson, AZ (TUS)",],	
["TUL","Tulsa, OK (TUL)",],	
["TLT","Tuluksak, AK (TLT)",],	
["WTL","Tuntutuliak, AK (WTL)",],	
["TNK","Tununak, AK (TNK)",],	
["TUP","Tupelo, MS (TUP)",],	
["TCL","Tuscaloosa, AL (TCL)",],	
["TWF","Twin Falls, ID (TWF)",],	
["TWA","Twin Hills, AK (TWA)",],	
["TYR","Tyler, TX (TYR)",],	
["UNK","Unalakleet, AK (UNK)",],	
["CMI","Urbana/Champaign, IL (CMI)",],
["UCA","Utica, NY (UCA)",],	
["UTO","Utopia Creek, AK (UTO)",],	
["EGE","Vail, CO - Eagle County Airport (EGE)",],	
["QBF","Vail, CO - Van service (QBF)",],	
["VDZ","Valdez, AK (VDZ)",],	
["VLD","Valdosta, GA (VLD)",],	
["VPS","Valparaiso, FL (VPS)",],	
["VEE","Venetie, AK (VEE)",],	
["OXR","Ventura/Oxnard, CA (OXR)",],	
["VEL","Vernal, UT (VEL)",],	
["VCT","Victoria, TX (VCT)",],	
["VIS","Visalia, CA (VIS)",],	
["ACT","Waco, TX (ACT)",],	
["AIN","Wainwright, AK (AIN)",],	
["WAA","Wales, AK (WAA)",],	
["ALW","Walla Walla, WA (ALW)",],	
["WAS","Washington DC - All airports (WAS)",],	
["IAD","Washington DC - Dulles (IAD)",],	
["DCA","Washington DC - National (DCA)",],	
["KWF","Waterfall, AK (KWF)",],	
["ALO","Waterloo, IA (ALO)",],	
["ART","Watertown, NY (ART)",],	
["ATY","Watertown, SD (ATY)",],	
["CWA","Wausau/Stevens Point, WI (CWA)",],	
["EAT","Wenatchee, WA (EAT)",],	
["PBI","West Palm Beach, FL (PBI)",],	
["WYS","West Yellowstone, MT (WYS)",],	
["HPN","Westchester County, NY (HPN)",],	
["WST","Westerly, RI (WST)",],	
["WSX","Westsound, WA (WSX)",],	
["WWP","Whale Pass, AK (WWP)",],	
["WMO","White Mountain, AK (WMO)",],	
["LEB","White River, VT (LEB)",],	
["SPS","Wichita Falls, TX (SPS)",],	
["ICT","Wichita, KS (ICT)",],	
["AVP","Wilkes Barre, PA (AVP)",],	
["PHF","Williamsburg, VA (PHF)",],	
["IPT","Williamsport, PA (IPT)",],	
["ISN","Williston, ND (ISN)",],	
["ILM","Wilmington, NC (ILM)",],	
["BDL","Windsor Locks, CT (BDL)",],	
["ORH","Worcester, MA (ORH)",],	
["WRL","Worland, WY (WRL)",],	
["WRG","Wrangell, AK (WRG)",],	
["YKM","Yakima, WA (YKM)",],	
["YAK","Yakutat, AK (YAK)",],	
["COD","Yellowstone/Cody, WY (COD)",],	
["YNG","Youngstown, OH (YNG)",],	
["YUM","Yuma, AZ (YUM)",]
 	]), :style => "width:197px", :onChange => "process(this.value);"
 %>	
     </h1>
    </td>
  </tr>
</table>
<div id="servicelisting_index">
	
	<% @servicelistings.each do |servicelisting| %>

	<% availability_date = DateTime.parse(servicelisting.availability.to_s)%>
	<% time_now = DateTime.parse(DateTime.now.to_s)%>
	<% time_until = availability_date - time_now %>
	<% t = time_until.to_f %>
	<% tt = t*(86400) %></br>	
	
	<div id="servicelisting_index_r">
	
		<p class="title"><%= servicelisting.title %></p>
		<p class="picture"><%= image_tag servicelisting.photo.url, :size => "100x100" %></p>
		<p class="more"><%= link_to 'More', servicelisting %></p>
		<p class="map"><%= link_to 'Map', locations_path(:city => servicelisting.city) %></p>
		<p class="address_fet"><%= servicelisting.location %></p>
		<p class="time_left">Time left to Bid</p>
		<p class="time_left_fet">
			<% if tt >= 0 %>
				<div class="jdt" start="<%= tt %>" ></div>
			<% else %>
				Closed
			<% end %>	
		</p>
		<p class="current_value">Current Value</p>
		<p class="current_value_fet">$<%= servicelisting.highestbid %></p>
		<% if isadmin? %>
			<p class="edit"><%= link_to 'Edit', edit_servicelisting_path(servicelisting) %></p>
			<p class="delete"><%= link_to 'Destroy', servicelisting, :confirm => 'Are you sure?', :method => :delete %></p>
		<%end%>
		<p class="bid">
			<%= link_to 'Bid', new_servicelisting_bid_path(servicelisting), :class=>"links"  %>
		</p>
		<p class="buy"><%= link_to 'Buy',  buynow_buynow_index_path(:id => servicelisting), :class=>"links"  %></p>
		<p class="higher">
			<%@servicelisting = servicelisting %>
			<% if current_user %>  	
	        <% @userhighbid = nil %> 
     		 <% @servicelisting.bids.each do |bid| %>
	     		<% if bid.user_id == current_user.id %>
		    	 <% if @userhighbid.nil? %>
			     <% @userhighbid = bid.bidprice %>
			     <% next %>
			   <% end %>
			 <% if bid.user_id == current_user.id %> 
			 <% if @userhighbid < bid.bidprice %> 
			 <% @userhighbid = bid.bidprice %>
			    <%end %>
			    <%end %> 
			    <%end%>
			    <%end%>     
			 <% if !@userhighbid.nil? %>   
			  <% if @userhighbid == @servicelisting.highestbid %>
			   <%= image_tag "auth/flashstar (1).gif", :size => "15x15" %><font color="#009900">You are the highest bidder</font>
			   <% else%>
			  <font color="#FF0000"> You are outbid by <%= @servicelisting.highestbid - @userhighbid %>$ </font>
			  <%end %>
			  <%else %>
			   <font color="#FF0000"> You have not bid on this service </font>
			   <%end%>  
			   <% end %>
		</p>	
			
	</div>
	</br>	
	<% end %>
</div>		
<%= will_paginate @servicelistings %>

<br />
<% if isadmin? %>
<%= link_to 'New Servicelisting', new_servicelisting_path, :class=>"links"  %>
<%end%>

<!-- <div class="jdt" start="12182400" product_id="aaaaaa"></div>

<div class="jdt" start="22222222"></div>

<div class="jdt" start="111111"></div>   -->
<!--
 <script type="text/javascript">
  $('.jdt').jqTimer(function(ele,stime){
    $(ele).html(stime);
	});
</script>   -->

<script type="text/javascript">	
	$('.jdt').each(function(i,jdt){
		$(jdt).countdown({
			until:$(jdt).attr('start'),
			format:'dHMS',
			compact: true
		});
	});
	
	//for bid popup
	$('.bid_popup').colorbox();
	
	function process (city) 
	{
		alert('Your are going to visit '+city+ ' city servicelisting');
		window.location = "http://173.255.195.108:8083/?city=" + city; 
	} 
	
	
</script>

