<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @servicelisting.title %>
</p>

<p>
  <b>Description:</b>
  <%= @servicelisting.description %>
</p>

<p>
  <b>Location:</b>
  <%= @servicelisting.location %>
</p>

<p>
  <b>Availability:</b>
  <%= @servicelisting.availability.to_formatted_s(:long) %>
</p>

<p>
  <b>Price:</b>
  $<%= @servicelisting.price %>
</p>

<p>
  <b>Buynow Price:</b>
  $<%= @servicelisting.buynow_price %>
</p>

<p>
  <b>No of guests:</b>
  <%= @servicelisting.no_of_guests %>
</p>

<p>
  <b>photo:</b>
  <%= image_tag @servicelisting.photo.url, :size => "200x200" %>
</p>

<p>
  <b>Status:</b>
  <% if @servicelisting.status  %>
  Active
  <% else %>
  Inactive
  <% end%>
</p>
<b>Bidding history:</b><br/>
<% @servicelisting.bids.each do |bid| %>
Bid price:<%= bid.bidprice %> |
<% end %>
<br/>
<% if isadmin? %>
<%= link_to 'Edit', edit_servicelisting_path(@servicelisting) %> |
<%end%>
<%= link_to 'Back', servicelistings_path %>
