<% javascript('jquery.countdown','jquery.colorbox-min')%>
<% stylesheet('jquery.countdown','colorbox')%>
<!--
<style type="text/css">
	.countdown_amount {
		font-size: 15px;
		color: red;
	}
</style>
-->


	<% availability_date = DateTime.parse(@servicelisting.availability.to_s)%>
	<% time_now = DateTime.parse(DateTime.now.to_s)%>
	<% time_until = availability_date - time_now %>
	<% t = time_until.to_f %>
	<% tt = t*(86400) %></br>
	
<div id="servicelisting_links">
	<ul>
		<li><%= link_to "Today Deals", servicelistings_path %></li>
		<li><%= link_to "All Deals", root_path %></li>
		<li><%= link_to "More Cities", root_path %></li>		
		<li><%= link_to "How it Works", root_path %></li>										
	</ul>
</div>
<div id="servicelisting" >
	<p class="title"><%= @servicelisting.title %></p>
	<p class="picture"><%= image_tag @servicelisting.photo.url, :size => "320x320", :style =>"border:1px solid #fff;-moz-border-radius:10px;-webkit-border-radius:10px;" %></p>
	<p class="bid">
		  <% if tt > 0 %>
		<% if isadmin? %>
			<%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"links bid_popup"  %>
		<% elsif is_barowner? %>
			<%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"links bid_popup"  %>
		<% elsif current_user %>
			<%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"links bid_popup"  %>
		<% else %>
				<%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"links"  %>
	    <% end %>
		<% else %>
                              <%#= link_to 'Bid', 'www.google.com', :class=>"faded_links"  %>
                              <label class="faded_links">Bid</label>
                      <% end %>
	</p>
	<p class="buy">
		  <% if tt > 0 %>
		<% if isadmin? %>
			<%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"links bid_popup"  %>
		<% elsif is_barowner? %>
			<%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"links bid_popup"  %>
		<% elsif current_user %>
			<%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"links bid_popup"  %>
		<% else %>
			<%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"links"  %>
		<% end %>
		<% else %>
                              <%#= link_to 'Bid', 'www.google.com', :class=>"faded_links"  %>
                              <label class="faded_links">Bid</label>
                      <% end %>
	</p>
	<p class="current_value">Current Value</p>
	<p class="current_value_fet">$<%= @servicelisting.highestbid %></p>
	<p class="time_left">Time Left</p>
	<table width="100px">
		<tr><td>
			<% if tt >= 0 %>
				<div class="jdt" start="<%= tt %>" ></div>
			<% else %>
			<p class="time_left_fet">
				Closed
			</p>
			<% end %>	
		</td></tr></table>
	<p class="share">
		Share:
		<iframe id="facebook" src="http://www.facebook.com/plugins/send.php?href=YOUR_URL" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px"></iframe>
		<iframe id="twitter" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html" style="width:130px; height:50px;"></iframe>
		</p>	
	<p class="max_allowed_guests">Allowed Guests</p>
	<p class="max_allowed_guests_fet"><%= @servicelisting.no_of_guests %></p>
	<p class="total_active_bidders">Active Bidders</p>
	<p class="total_active_bidders_fet"><%= @total_active_bidder %></p>
	</br>
	<div id="details">
		<p class="spot">The Spot</p>
		<p class="city"><%= @servicelisting.city %></p>
		<p class="maps"><div id="map_details"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x200&sensor=false&zoom=15&markers=#{@servicelisting.location}" %></div></p>
		<p class="address_fet"><%= @servicelisting.location %></p>
		<p class="info">The Info</p>
		<p class="description_details"><%= @servicelisting.description %></p>
	</div>
</div>
</br>

<!--
<div>
	<iframe id="map_details" src="http://localhost:3000/locations?address=<%=@servicelisting.location%>"></iframe>
</div>
-->
<!--
<div id="map_details">
		......
</div>
-->
<!--
<table width="800" border="0" style="border:1px #993300 solid "  align="center">
  <tr>
    <td height="36" colspan="3">
    	<font style="font-size:30px; color:#000000; font-family:Lucida Calligraphy"><%= @servicelisting.title %></font>    </td>
    <td width="214">
    	<%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"links"  %>
    	<%= link_to 'Buy now',  buynow_buynow_index_path(:id => @servicelisting), :class=>"links"  %>    </td>
  </tr>
  <tr>
    <td width="193" rowspan="3">
    	<p>
  			<b>Address:</b>
  			<%= @servicelisting.location %></p>
    	<p style="font-size:15px">
  			<%= @servicelisting.description %>		</p>	</td>
    <td colspan="2" rowspan="3">
    	<%= image_tag @servicelisting.photo.url, :size => "300x300" %>    </td>
    <td>	
    	<div class="jdt" start="<%= tt %>" ></div>	
    </td>
  </tr>
  
  <tr>
    <td height="79">
    	<p style="font-size:17px">
  			No of guests:
  			<font style="font-size:14px; color:#FF0000"><%= @servicelisting.no_of_guests %></font>	</p>	</td>
  </tr>
  <tr>
    <td height="74">
    	<font style="font-size:17px;">HighestBid:</font></b><font style="font-size:14px; color:#FF0000">$<%= @servicelisting.highestbid %></font>
    </td>
  </tr>
</table>
-->


<%= link_to 'Back', servicelistings_path , :class=>"links" %>

<%= javascript_tag do%>
	var sevice_location = "<%= @servicelisting.location%>";
<% end%>

<script type="text/javascript">
	$('.jdt').countdown({
		until:$('.jdt').attr('start'),
		format:'DHMS',
		compact: true
	});	
	
	//$("#map_details").load("http://localhost:3000/locations?address="+encodeURI(sevice_location));
	//for create_location popup
	$('.create_location_popup').colorbox();
	$('.bid_popup').colorbox();
	
</script>
