<% javascript('jquery.countdown','jquery.colorbox-min')%>
<% stylesheet('jquery.countdown','colorbox')%>

<% availability_date = DateTime.parse(@servicelisting.availability.to_s)%>
<% time_now = DateTime.parse(DateTime.now.to_s)%>
<% time_until = availability_date - time_now %>
<% t = time_until.to_f %>
<% tt = t*(86400) %>

<div class="servicelisting_links">
  <ul>
    <li><%= link_to "All Bottle Services", root_path %></li>
    <li><%= link_to "How it Works", how_it_works_users_path %></li>
  </ul>
</div>

<div class="servicelisting">
  <div class="picture">
    <%= image_tag @servicelisting.photo.url, :size => "320x320", :style =>"border:1px solid #fff;-moz-border-radius:10px;-webkit-border-radius:10px;" %>
  </div>
  <div class="details">
    <table>
      <tr>
        <td colspan="2"><div class="title"><%= @servicelisting.title %></div></td>
      </tr>
      <tr>
        <td class="bid" align="center">
          <% if tt > 0 %>
              <% if isadmin? %>
                  <%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"link_button bid_popup"  %>
              <% elsif is_barowner? %>
                  <%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"link_button bid_popup"  %>
              <% elsif current_user %>
                  <%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"link_button bid_popup"  %>
              <% else %>
                  <%= link_to 'Bid', new_servicelisting_bid_path(@servicelisting), :class=>"link_button"  %>
              <% end %>
          <% else %>
              <%#= link_to 'Bid', 'www.google.com', :class=>"faded_links"  %>
              <label class="faded_links">Buy</label>
          <% end %>
        </td>
        <td class="buy" align="center">
          <% if tt > 0 %>
              <% if isadmin? %>
                  <%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"link_button bid_popup"  %>
              <% elsif is_barowner? %>
                  <%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"link_button bid_popup"  %>
              <% elsif current_user %>
                  <%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"link_button bid_popup"  %>
              <% else %>
                  <%= link_to 'Buy',  buynow_buynow_index_path(:id => @servicelisting), :class=>"link_button"  %>
              <% end %>
		  <% else %>
              <%#= link_to 'Bid', 'www.google.com', :class=>"faded_links"  %>
              <label class="faded_links">Bid</label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="label">Allowed Guests</td><td class="value" style="color:#4DBCE9;"><%= @servicelisting.no_of_guests %></td>
      </tr>
      <tr>
        <td class="label">Current Value</td><td class="value" style="color: #A1C436">$<%= @servicelisting.highestbid %></td>
      </tr>
      <tr>
        <td class="label">Buynow Value</td><td class="value" style="color: #A1C436">$<%= @servicelisting.price %></td>
      </tr>
      <tr>
        <td class="label">Time Left</td>
        <td class="value">
          <% if tt >= 0 %>
              <div class="jdt time_countdown" start="<%= tt %>" ></div>
		  <% else %>
              <p class="time_left_fet">Closed</p>
		  <% end %>
        </td>
      </tr>
      <tr>
        <td class="label">Active Bidders</td><td class="value" style="color:#4DBCE9;"><%= @total_active_bidder %></td>
      </tr>
    </table>
    <div style="text-align: right;">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html" style="width: 150px;height: 50px;"></iframe>
        <iframe src="http://www.facebook.com/plugins/send.php?href=YOUR_URL" scrolling="no" frameborder="0" style="width: 150px;height: 50px;"></iframe>
    </div>
  </div>
  <div class="clear"></div>
  <div class="details2">
    <div class="map">
      <div style="text-align: center;margin-bottom: 5px;"><label class="spot">The Spot</label>&nbsp;&nbsp;<label class="city"><%= @servicelisting.city %></label></div>
      <div class="map_img"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x200&sensor=false&zoom=15&markers=#{@servicelisting.location}" %></div>
	  <p class="address"><%= @servicelisting.location %></p>
    </div>
    <div class="description">
      <div style="text-align: center;margin-bottom: 5px;"><label class="info">The Info</label></div>
      <div class="description_details">
        <%= @servicelisting.description %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div style="margin-top: 10px;">
    <%= link_to 'Back', servicelistings_path , :class=>"link_button" %>
</div>

<%= javascript_tag do%>
	var sevice_location = "<%= @servicelisting.location%>";
<% end%>

<script type="text/javascript">
	$('.jdt').countdown({
		until:$('.jdt').attr('start'),
		layout: '{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}'
	});	
	
	//$("#map_details").load("http://localhost:3000/locations?address="+encodeURI(sevice_location));
	//for create_location popup
	$('.create_location_popup').colorbox();
	$('.bid_popup').colorbox();
	
</script>
