<%= form_for([@servicelisting, @servicelisting.bids.build]) do |f| %>
    <div class="form_box">
      <% if @servicelisting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@servicelisting.errors.count, "error") %> prohibited this bid from being saved:</h2>

          <ul>
          <% @servicelisting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <label>Bid Price</label>
        <%= f.text_field :bidprice %>
      </div>
       <div class="form-button" style="text-align: center;">
         <%= f.submit :class=>"link_button"%>
       </div>
    </div>
<% end %>
