<!-- <% form_for @order do |f| %>
  <%= f.error_messages %>
  <% if @order.express_token.blank? %>
    <p> no authorization token</p>
  <% else %>
	  <%= f.hidden_field :express_token %>
	  <%= f.hidden_field :express_payer_id %>	
	  <%= f.hidden_field :amount, :value => @service.price %>
	  <%= f.hidden_field :servicelisting_id, :value => @service.id %>
	
	  <b>Your order details</b></br>
	  <p>Service: <%= @service.id %></p></br>	 
	  <p>Service: <%= @service.title %></p></br>
	  <p>Available on:<%= @service.availability%></p></br>
	  <p>Amount: $<%= @service.price %></p></br>
	    
  <% end %> -->
	<!-- <%= submit_tag "Complete Authorization", :name => 'complete_authorization' %> -->
      <!-- <<p><%= f.submit "Complete Authorization" %></p> 
 <% end %> -->

<p> do nothing </p>