
<div id=signup>
  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">	
	<tr>
    	<td colspan="6"><h3 align="center" style="color:#48B9E9"><div style="background:#747016;
    			width: 40%;
    			padding:0.3em;
    			font: 0.9em Verdana, Arial, Helvetica, sans-serif;
    			-moz-border-radius: 15px;
    			-webkit-border-radius: 15px;
    			height:26px;">All Servicelistings</div> </h3>
    	</td>
    </tr>	  
	<tr bgcolor="#000000" class="BoldRED">
        <td width="4%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;border-left:#666666 1px solid;"><div align="left" class="style22">
        	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Service Name</span></div></div>
        </td>
        <td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
             <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Bar Name</span></div></div>
        </td>
        <td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
             <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">City</span></div></div>
        </td>
        <td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
             <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Price</span></div></div>
        </td>
        <td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
             <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Options</span></div></div>
        </td>
    </tr>            
	<% sl=1 %>
 	<% @servicelistings.each do |servicelisting| %>
    <tr bgcolor="#FFFFFF" onMouseOver="this.bgColor='#3399cc';" onMouseOut="this.bgColor='#FFFFFF';" >
          <td height="25" style="border-bottom:#666666 1px solid;border-left:#666666 1px solid;"><div align="center"><%= servicelisting.title %></div></td>
          <td style="border-bottom:#666666 1px solid"><div align="center"><%= servicelisting.bar_name %></div></td>               
          <td style="border-bottom:#666666 1px solid"><div align="center"><%= servicelisting.city %></div></td>
	      <td style="border-bottom:#666666 1px solid"><div align="center"><%= servicelisting.price %></div></td>
    	  <td style="border-bottom:#666666 1px solid;border-right:#666666 1px solid"><div align="center"><%= link_to "Edit",  edit_servicelisting_path(servicelisting.id, :indicator => "ed") %> | <%= link_to "Delete", servicelisting, :confirm => 'Are you sure?', :method => :delete %></div></td>
    </tr>
	<% end %>
  </table>
</div>
