<h1>Listing Orders</h1>

<table>
  <tr>
    <th>User </th>
    <th>Servicelisting</th>
    <th>Amount</th>
    <th>State</th>
    <th>Purpose</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.user_id %></td>
    <td><%= order.servicelisting_id %></td>
    <td><%= order.amount %></td>
    <td><%= order.state %></td>
    <td><%= order.description %></td>
  </tr>
<% end %>
</table>
