<% javascript('jquery.colorbox-min') %>
<% stylesheet('colorbox') %>
<div id="buy_now">
 <p style="color:#FFFFFF"> Your stored creditcard is used for making this purchase.When you submit, you are accepting the
   <%= link_to '"Terms & Conditions"', term_condition_users_path, :class=>'term_condition' %></p>
   <p style="color:#FFFFFF"> Service: <%= @sl.title%></p>
   <p style="color:#FFFFFF"> Price: $<%= @sl.price%></p>
	  
<% form_for @order do |f| %>
	  <%= f.error_messages %>
	  <%= f.hidden_field :amount, :value => @amount %>
	  <%= f.hidden_field :servicelisting_id, :value => @serviceid %>	 
	<table width="100%" border="0">	
 
    <td><%= f.submit "Submit" %></td>
  </tr>
</table>
<% end %>

</div>
<script type='text/javascript'>
	$('.term_condition').colorbox();
</script>