<% javascript('jquery.colorbox-min') %>
<% stylesheet('colorbox') %>

<style type="text/css">


</style>

<div id="signup" style="width: 700px;">
 <br><br>	
 <p style="color:#FFFFFF" align="center"> Submitting this transaction, you are accepting all
   <%= link_to '"Terms & Conditions"', term_condition_users_path, :class=>'term_condition' %></p>
   	  
<% form_for @order do |f| %>
	  <%= f.error_messages %>
	  <%= f.hidden_field :amount, :value => @amount %>
	  <%= f.hidden_field :servicelisting_id, :value => @serviceid %>	 
	<table width="100%" border="0">	
      <tr>
    	<td width="44%" height="69" align="right" style="color:#FFFFFF;font-size: 18px;"> Bottle Service:&nbsp;&nbsp;&nbsp;</td>
		<td width="56%" align="left" style="color:#48B9E9;font-size: 18px;"> <%= @sl.title%></td>
	  </tr>
	  <tr>	
		<td height="10" align="right" style="color:#FFFFFF;font-size: 18px;">Price:&nbsp;&nbsp;&nbsp;</td>
		<td align="left" style="color:#48B9E9;font-size: 18px;" >$<%= @new_cost %></td>
	  </tr>
   </table>
   <div style="text-align: center;margin: 10px 0;">
     <%= f.submit "Submit", :class=>"link_button" %>
   </div>
<% end %>

</div>
<script type='text/javascript'>
	$('.term_condition').colorbox();
</script>