
<table border="0" align="center">
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9"> Please enter your details here. </h3></td>
  </tr>
  <tr>
    <td width="358"><div align="right" style="color:#FFFFFF"><%= form.label :login, "Username" %><br /> </div></td>
    <td width="7"><strong style="color:#48B9E9">:</strong></td>
    <td width="371"><%= form.text_field :login %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF"><%= form.label :email %></div></td>
    <td width="7"><strong style="color:#48B9E9">:</strong></td>
    <td><%= form.text_field :email %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF"><%= form.label :password, form.object.new_record? ? nil : "Change password" %></div></td>
    <td width="7"><strong style="color:#48B9E9">:</strong></td>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF"><%= form.label :password_confirmation %> </div></td>
    <td width="7"><strong style="color:#48B9E9">:</strong></td>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF"><%= form.label :city %> </div></td>
    <td width="7"><strong style="color:#48B9E9">:</strong></td>
    <td>
    	
    	
    	<%= form.select :city, options_for_select([
    														["Select", "0"],
    														
["Austin, TX (AUS)","AUS"],
["Chicago, IL - All airports (CHI)","CHI"],	
["Chicago, IL - Midway (MDW)","MDW"],	
["Chicago, IL - O'Hare (ORD)","ORD"], 
["Dallas, TX - Love Field (DAL)","DAL"],	
["Dallas, TX - Dallas/Ft Worth Intl. (DFW)","DFW"],
["Houston, TX - All airports (HOU)","HOU"],	
["Houston, TX - Hobby (HOU)","HOU"],	
["Houston, TX - Intercontinental (IAH)","IAH"],
["San Antonio, TX (SAT)","SAT"] 														
 	]), :style => "width:197px" %>
    	
    	
    </td>
  </tr>
  <tr>
    <td></td>
    <td width="7"></td>
	<td><%= form.submit "Sign Up" %></td>
  </tr>
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9">Sign in with</h3></td>
  </tr>
  <tr>
    <td colspan="3"  align="center">
    	<% ["twitter","facebook", "linked_in"].each do |provider| %>
  			<%= link_to image_tag("auth/#{provider}_64.png"), "/auth/#{provider}" %>
		<% end %>
		<%= link_to image_tag("auth/google_64.png"), "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" %>
	</td>
  </tr>
</table>


<!--
<p>
	<%= form.label :login, "Username" %><br />
	<%= form.text_field :login %>
</p>
<p>
	<%= form.label :email %><br />
	<%= form.text_field :email %>
</p>	
<p>
	<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
	<%= form.password_field :password %>
</p>	
<p>
	<%= form.label :password_confirmation %><br />
	<%= form.password_field :password_confirmation %>
</p>
<p>
	<%= form.label :city %><br />
	<%= form.text_field :city %>
</p>
<p>
	<%= form.label :state %><br />
	<%= form.text_field :state %>
</p>
<p>
	<%= form.label :zip %><br />
	<%= form.text_field :zip %>
</p>
-->