<% javascript('simple-tabs','jquery.colorbox-min') %>
<% stylesheet('simple-tabs','colorbox') %>

<div id="signup">
	<ul class="simple-tabs">
		<li><%= link_to "My Bids","#tab1" %></li>
    	<li><%= link_to "My Purchases", "#tab2" %></li>
	</ul>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
			<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
    				<td colspan="6">
    					<h3 align="center" style="color:#48B9E9">
      					<div style="background:#ffffff;
    						width: 40%;
    						padding:0.3em;
    						font: 0.9em Verdana, Arial, Helvetica, sans-serif;
    						-moz-border-radius: 15px;
    						-webkit-border-radius: 15px;
    						height:26px;">My Bids 
						</div> 
    					</h3>
					</td>
  				</tr>	
			  	<tr bgcolor="#000000" class="BoldRED">

                	<td width="5%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;border-left:#666666 1px solid;"><div align="left" class="style22">
                  	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Sl. No.</span></div>
                	</div></td>
					<td width="13%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;border-left:#666666 1px solid;"><div align="left" class="style22">
                  	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Service Name</span></div>
                	</div></td>
                	<td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
                  	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Bid Price</span></div>                  
                	</div></td>
					<td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
                  	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Current Price</span></div>                  
                	</div></td>
					<td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
                  	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Status</span></div>                  
                	</div></td>
			    	<td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
			      	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Date of Bid</span></div>
			    	</div></td>
				</tr>
				<% sl=1 %>
				<% @bids.each do |bid| %>	
     			<tr bgcolor="#FFFFFF" onMouseOver="this.bgColor='gold';" onMouseOut="this.bgColor='#FFFFFF';" >
                	<td height="25" style="border-bottom:#666666 1px solid;border-left:#666666 1px solid;"><div align="center"><%= sl %><% sl+=1 %></div></td>
                	<td style="border-bottom:#666666 1px solid"><div align="center"><%= bid.servicelisting.title %></div></td>
                	<td style="border-bottom:#666666 1px solid"><div align="center"><%= bid.bidprice %></div></td>
					<td style="border-bottom:#666666 1px solid"><div align="center"><%= bid.servicelisting.highestbid %></div></td>
					<td style="border-bottom:#666666 1px solid"><div align="center"><%= bid.servicelisting.status %></div></td>
					<td style="border-bottom:#666666 1px solid;border-right:#666666 1px solid"><div align="center"><%= bid.created_at.strftime("%d-%m-%Y") %></div></td>
              	</tr>
				<% end %>
			</table>
		</div>
		<div id="tab2" class="tab_content">
			<div style="height:100%;">
			<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
    			<td colspan="6">
    				<h3 align="center" style="color:#48B9E9">
      				<div style="background:#fff;
    					width: 40%;
    					padding:0.3em;
    					font: 0.9em Verdana, Arial, Helvetica, sans-serif;
    					-moz-border-radius: 15px;
    					-webkit-border-radius: 15px;
    					height:26px;">My Purchases 
					</div> 
    				</h3>
				</td>
  			</tr>	
			<tr bgcolor="#000000" class="BoldRED">

               	<td width="5%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;border-left:#666666 1px solid;"><div align="left" class="style22">
               	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Sl. No.</span></div>
               	</div></td>
				<td width="13%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;border-left:#666666 1px solid;"><div align="left" class="style22">
               	<div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Service Name</span></div>
                </div></td>
                <td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
                <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Amount</span></div>                  
                </div></td>
				<td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
                <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Status</span></div>                  
                </div></td>
			    <td width="10%" height="25" bgcolor="#DDDDDD" class="headtext13" style="border-bottom:#666666 1px solid;border-right:#666666 solid 1px;"><div align="left" class="style22">
			    <div align="center"><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">Date of Order</span></div>
			    </div></td>
				</tr>
				<% sl=1 %>
				<% @orders.each do |order| %>
     			<tr bgcolor="#FFFFFF" onMouseOver="this.bgColor='gold';" onMouseOut="this.bgColor='#FFFFFF';" >
                	<td height="25" style="border-bottom:#666666 1px solid;border-left:#666666 1px solid;"><div align="center"><%= sl %><% sl+=1 %></div></td>
                	<td style="border-bottom:#666666 1px solid"><div align="center"><%= order.servicelisting.title %></div></td>
					<td style="border-bottom:#666666 1px solid"><div align="center"><%= order.amount %></div></td>
					<td style="border-bottom:#666666 1px solid"><div align="center"><%= order.servicelisting.status %></div></td>
					<td style="border-bottom:#666666 1px solid;border-right:#666666 1px solid"><div align="center"><%= order.created_at.strftime("%d-%m-%Y") %></div></td>
              	</tr>
				<% end %>
			</table>
			</div>
		</div>
	</div>		
</div>
