<div id="signup">
<% title 'Change password'%> 
<%= form_tag password_update_users_path, :method => :post do %>
<table border="0" align="center" width="100%">
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9"> Please enter the new password and press "Update Password". </h3></td>
  </tr>
  <tr>
    <td width="619"><div align="right" style="color:#FFFFFF">Old Password</div></td>
    <td width="3"></td>
    <td width="694"><%= password_field_tag :old_password, nil ,:class => "textfield_effect" %></td>
  </tr>
  <tr>
    <td width="619"><div align="right" style="color:#FFFFFF">New Password</div></td>
    <td width="3"></td>
    <td width="694"><%= password_field_tag :password, nil ,:class => "textfield_effect"%></td>
  </tr>
  <tr>
    <td width="619"><div align="right" style="color:#FFFFFF">Confirm Password</div></td>
    <td width="3"></td>
    <td width="694"><%= password_field_tag :password_confirmation, nil ,:class => "textfield_effect"%></td>
  </tr>
  <tr>
    <td width="619"><div align="right" style="color:#FFFFFF"></div></td>
    <td width="3"></td>
    <td width="694"><%= submit_tag "Update Password" %></td>
  </tr>
</table>
</br>

<% end %>
</div>