<% stylesheet('simple-tabs') %>

<style type="text/css">
  .change_password table td {
      padding: 5px 0;
  }

</style>

<div class="tab_container">
<% title 'Change password'%> 
<%= form_tag password_update_users_path, :method => :post, :class => "change_password" do %>
<table border="0" align="center" width="100%">
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9"> Please enter the new password and press "Update Password". </h3></td>
  </tr>
  <tr>
    <td width="619"><div class="form-label">Old Password</div></td>
    <td width="3"></td>
    <td width="694"><%= password_field_tag :old_password, nil ,:class => "textfield_effect" %></td>
  </tr>
  <tr>
    <td width="619"><div class="form-label">New Password</div></td>
    <td width="3"></td>
    <td width="694"><%= password_field_tag :password, nil ,:class => "textfield_effect"%></td>
  </tr>
  <tr>
    <td width="619"><div class="form-label">Confirm Password</div></td>
    <td width="3"></td>
    <td width="694"><%= password_field_tag :password_confirmation, nil ,:class => "textfield_effect"%></td>
  </tr>
  <tr>
    <td width="619"><div align="right" style="color:#FFFFFF"></div></td>
    <td width="3"></td>
    <td width="694"><%= submit_tag "Update Password", :class=>"link_button" %></td>
  </tr>
</table>
</br>
<% end %>
</div>