<% stylesheet('simple-tabs','colorbox') %>
<div id="signup">
	<ul class="simple-tabs">
		<li><%= link_to "Edit Profile","#tab1" %></li>
		<!-- Activate credit card tab -->
		<!-- <li><%= link_to "Credit Cards details","#tab4" %></li> -->
		<!--
    		<li><%= link_to "Login Details", "#tab2" %></li>
			<li><%= link_to "Change Password","#tab3" %></li>
		-->	
	</ul>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
			
<% title 'Edit My Account'%>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  
  <table border="0" align="center">
  <tr>

    <td align="center" colspan="3"><h3 align="center" style="color:#48B9E9"> Update Your Profile</h3></td>
  </tr>
  <tr>
    <td><div align="right" style="font-size:x-large; color:#1781C1;"><%= f.label :email %></div></td>
    <td width="7"><strong style="color:#48B9E9"></strong></td>
    <td><%= f.text_field :email, :class => "textfield_effect" %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="font-size:x-large; color:#1781C1;"><%= f.label :first_name %></div></td>
    <td width="1%"><strong style="color:#48B9E9"></strong></td>
    <td width="59%"><%= f.text_field :first_name, :class => "textfield_effect" %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="font-size:x-large; color:#1781C1;"><%= f.label :last_name %></div></td>
    <td width="1%"><strong style="color:#48B9E9"></strong></td>
    <td width="59%"><%= f.text_field :last_name, :class => "textfield_effect" %></td>
  </tr>
  <tr>
    <td><div align="right" style="font-size:x-large; color:#1781C1;"><%= f.label :city %></div></td>
    <td width="7"><strong style="color:#48B9E9"></strong></td>
    <td><%= f.select :city, options_for_select([
    														[@user.city, ""],
    														
["Austin, TX ","Austin, TX "],
["Chicago, IL","Chicago, IL"],	 
["Dallas, TX","Dallas, TX"],	
["Houston, TX","Houston, TX"],	
["San Antonio, TX","San Antonio, TX"]  														
 	]), :style => "width:197px" %></td>
  </tr>
  <tr>
    <td></td>
    <td width="7"></td>
	<td><%= f.submit "Update" ,:class => "links" %></td>
  </tr>
</table>
  
  
  <!--
  <p>
  	<%= f.label :login, "Username" %><br />
	<%= f.text_field :login, :readonly => true %>
  </p>
  <p>
	<%= f.label :email %><br />
	<%= f.text_field :email %>
  </p>
  <p>
	<%= f.label :city %><br />
	<%= f.text_field :city %>
  </p>	
  <p>
  	<%= f.submit "Update" %>
  </p>
 --> 
  
<% end %>
</div>
</div>

</div>
