<% title 'Guest List' %>
<% stylesheet('colorbox')%>
<% javascript('jquery.colorbox-min')%>

<div class="user_guest_list">
  <div class="title"><%= @servicelisting.title%></div>
  <p>Venue: <%= @servicelisting.location%></p>
  <p>Date/Time: <%= @servicelisting.availability.strftime('%A - %b, %d %Y at %I:%M') %></p>
  <p>No of Guests Allowed: <%= @servicelisting.no_of_guests %></p>
  <p>Total Invites sent : <%= @guest_list.size %></p>
  <div class="invite_more">
    <%= link_to "Invite friends", contacts_path(:order_id=>@order.id), :class => "link_button" %>
  </div>
  <% if @guest_list.size > 0 %>
    <table class="guest_list">
      <tr>
        <th colspan="3">List of Guests</th>
      </tr>
      <% @guest_list.each_with_index do |guest, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= guest.email %></td>
        <td><%= link_to "Delete", delete_invite_orders_path(:id=>guest.id), :confirm => 'Are you sure?' %></td>
      </tr>
      <% end%>
    </table>
  <% else %>
    <div style="text-align: center;">No guests found. Invite to party</div>
  <% end %>
  <div class="invite_more">
    <%= link_to "Invite Friends by Email", '#', :class => "invite_by_email link_button" %>
  </div>
</div>

<!-- invite_by_email -->
<div class="hidden">
    <%= render :partial => 'contacts/party_invite_by_email', :locals => {:order => @order, :servicelisting => @servicelisting} %>
</div>

<% javascript_tag do %>
    <% if @servicelisting.no_of_guests <= @guest_list.size %>
        $('.invite_more').hide();
    <% end %>
<% end %>

<script type="text/javascript">
  $('.invite_by_email').click(function(e){
       $.colorbox({
           href:'.invite_by_email_div',
           inline:true,
           onClosed: function() {
               window.location.reload();
           }
       });
      return false;
  });
</script>