<% stylesheet('jquery.countdown', 'colorbox')%>
<% javascript('jquery.countdown', 'jquery.colorbox-min')%>

<div id="signup">
<% title 'Sign Up'%>
<p align="center">
	<font style="color:#FFFFFF; font-size:15px">Already register?</font> <%= link_to "Sign In", new_user_session_path , :class=>"links" %> <font style="color:#FFFFFF; font-size:15px">Not received activation mail</font> <%= link_to "Click here", resend_activation_users_path , :class=>"links activation_mail_popup" %> 
</p>
<%= form_for @user, :url => users_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
<% end %>

</div>

<script type="text/javascript">	

	//for activation mail
	$('.activation_mail_popup').colorbox();
	
	
</script>