<% javascript('simple-tabs','jquery.colorbox-min') %>
<% stylesheet('simple-tabs','colorbox') %>

<div id="signup">
	<ul class="simple-tabs">
		<li><%= link_to "Profile","#tab1" %></li>
		<li><%= link_to "Credit Cards details","#tab4" %></li>
		<!--
    		<li><%= link_to "Login Details", "#tab2" %></li>
			<li><%= link_to "Change Password","#tab3" %></li>
		-->	
	</ul>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
			<table width="75%"  border="0" align="center" cellpadding="0" cellspacing="0" style="margin:75px;">
				<tr>
    				<td colspan="6">
    					<h1 align="center" style="color:#48B9E9">
      					<div>Profile </div> 
    					</h1>
					</td>
  				</tr>	
			  	<tr>
			  		<td>
			  			<label>Email</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.email %></p>
			  			<label>First Name</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.first_name %></p>
						<label>Last Name</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.last_name %></p>
						<label>City</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.city %></p>
					</td>
                </tr>
				<tr>
					<td>
						<%= link_to "Edit Profile", edit_user_path(current_user), :class => "links" %>
					</td>	
				</tr>
           </table>
		</div>
		
		<div id="tab4" class="tab_content">
			<table width="75%"  border="0" align="center" cellpadding="0" cellspacing="0" style="margin:75px;">
				<tr>
    				<td colspan="6">
    					<h1 align="center" style="color:#48B9E9">
      					<div >Credit Cards details</div> 
    					</h1>
					</td>
  				</tr>
				<% unless @cedite_card_details.nil? %>	
			  	<tr>
			  		<td>
			  			<label>First Name</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.first_name %></p>
			  			<label>Last Name</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.last_name %></p>
						<label>Credit Card type</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.card_type %></p>
						<label>Credit Card Number</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.card_number %></p>
						<label>Card Verification</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.card_verification %></p>
						<label>Card_Expires On</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.card_expires_on %></p>
						<label>Address</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.address %></p>
						<label>City</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.city %></p>
						<label>Country</label>
						<p style="font-size:x-large; color:#1781C1;"><%= @cedite_card_details.country %></p>
						<%= link_to "Edit", edit_user_credit_card_path(current_user, @cedite_card_details.id) %> | 
						<%= link_to 'Delete', user_credit_card_path(current_user, @cedite_card_details.id), :confirm => 'Are you sure?', :method => :delete %>
					</td>
                </tr>
				<% else %>
					<tr>
					<td>
						<p align="center" style="font-size:x-large; color:#1781C1;">Sorry,We have not your credit card details.</p>
						<%= link_to "Create Credit Card", new_user_credit_card_path(current_user), :class => "new_cradiat_card" %>
					</td>	
				</tr>
				<% end %>
           </table>
		</div>
		
		<!--
		<div class="tab_container">
			<div id="tab2" class="tab_content">
				<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
    				<td colspan="6">
    					<h1 align="center" style="color:#48B9E9">
      					<div >Login Details
						</div> 
    					</h1>
					</td>
  				</tr>
				<tr>
			  		<td>
			  			<label>Email</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.email %></p>
			  			<label>Last Login Ip</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.last_login_ip %></p>
						<label>Last Login Time</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.last_login_at %></p>
						<label>Last Update</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.updated_at %></p>
						<label>No of times Login</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.login_count %></p>
					</td>
                </tr>
			</table>
			</div>
		</div>
		
		
		<div id="tab3" class="tab_content">
			<table width="75%"  border="0" align="center" cellpadding="0" cellspacing="0" style="margin:75px;">
				<tr>
    				<td colspan="6">
    					<h2 align="center" style="color:#48B9E9">
      					<div >Please enter the new password and press "Update Password". 
						</div> 
    					</h2>
					</td>
  				</tr>	
			  	<tr>
			  		<td>
			  			 
							<%= form_tag password_update_users_path, :method => :post do %>
							<table border="0" align="center" width="100%">
  								<tr>
    								<td width="619"><div align="right" style="color:#000000">Old Password</div></td>
    								<td width="0"></td>
    								<td width="694"><%= password_field_tag :old_password %></td>
  								</tr>
  								<tr>
    								<td width="619"><div align="right" style="color:#000000">New Password</div></td>
    								<td width="0"></td>
    								<td width="694"><%= password_field_tag :password %></td>
  								</tr>
  								<tr>
    								<td width="619"><div align="right" style="color:#000000">Confirm Password</div></td>
    								<td width="0"></td>
    								<td width="694"><%= password_field_tag :password_confirmation %></td>
  								</tr>
  								<tr>
    								<td width="619"><div align="right" style="color:#000000"></div></td>
    								<td width="0"></td>
    								<td width="694"><%= submit_tag "Update Password" ,:class => "links"%></td>
  								</tr>
							</table>
							<% end %>
						
					</td>
                </tr>
				
           </table>
		</div>
		-->
		
	</div>		
</div>
<script type="text/javascript">	
	//for bid popup
	$('.new_cradiat_card').colorbox();
</script>

