<% javascript('simple-tabs','jquery.colorbox-min') %>
<% stylesheet('simple-tabs','colorbox') %>

<div id="admin">
	<ul class="simple-tabs">
		<li><%= link_to "Profile Details","#tab1" %></li>
    	<li><%= link_to "Login Details", "#tab3" %></li>
	</ul>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
			<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
    				<td colspan="6">
    					<h1 align="center" style="color:#48B9E9">
      					<div >Personal Information 
						</div> 
    					</h1>
					</td>
  				</tr>	
			  	<tr>
			  		<td>
			  			<label>Email</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.email %></p>
			  			<label>First Name</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.first_name %></p>
						<label>Last Name</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.last_name %></p>
						<label>City</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.city %></p>
					</td>
                </tr>
				<tr>
					<td>
						<%= link_to "Edit", edit_user_path(current_user) %>
					</td>	
				</tr>
           </table>
		</div>
		<div class="tab_container">
			<div id="tab3" class="tab_content">
				<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
    				<td colspan="6">
    					<h1 align="center" style="color:#48B9E9">
      					<div >Login Details
						</div> 
    					</h1>
					</td>
  				</tr>
				<tr>
			  		<td>
			  			<label>Email</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.email %></p>
			  			<label>Last Login Ip</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.last_login_ip %></p>
						<label>Last Login Time</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.last_login_at %></p>
						<label>Last Update</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.updated_at %></p>
						<label>No of times Login</label>
						<p style="font-size:x-large; color:#1781C1;"><%= current_user.login_count %></p>
					</td>
                </tr>
			</table>
			</div>
		</div>
	</div>		
</div>
