<div id="checkout_site">
<% title "#{@user.login}'s profile"%>
<% if params[:provider] == 'facebook' -%>  
        <div id="fb-root"></div>
                 <script>
                   window.fbAsyncInit = function() {
                     FB.init({
                       appId  : '262855740409040',
                       status : true, // check login status
                       cookie : true, // enable cookies to allow the server to access the session
                       xfbml  : true  // parse XFBML
                     });
                   };
                  (function() {
                    var e = document.createElement('script');
                    e.src ='http://connect.facebook.net/en_US/all.js';
                    e.async = false;
                    document.getElementById('fb-root').appendChild(e);
                  }());
                </script>        
           <fb:serverFbml>
    <script type="text/fbml">
        <fb:fbml>
            <fb:request-form
                action="http://www.facebook.com/pages/Socialcheers/272724599407853?ref=ts"
                target="_top"
                method="GET"
                invite="true"
                type="Get your bottle service now"
                content="Invitation! &lt;fb:req-choice url=&quot;http://www.facebook.com/pages/Socialcheers/272724599407853?ref=ts&quot; label=&quot;Let me check my friends&quot; /&gt;"
            >
                <fb:multi-friend-selector showborder="false" actiontext="Invite your friends CLICK ON PICTURE TO SELECT"  rows="5" cols="5"  bypass="cancel" target="_top"  />
            </fb:request-form>
        </fb:fbml>
    </script>
</fb:serverFbml>        
<% end -%>

<% if params[:provider] == "twitter" -%>
   <h3> What’s happening?</h3><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></br></br>
<% end -%>

<table width="100%" border="0">
  <tr>
    <td>
     <div align="right" style="color:#FFFFFF">
    	<% if isadmin? %>
			<%= link_to 'Administration', :controller => 'admin', :action => 'index' %>
		<%end%>
	 </div>
	</td>
    <td width="1%"></td>
  </tr>
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9"> Your Profile details are given below.</h3></td>
    </tr>
   <tr>
    <td><div align="right" style="color:#FFFFFF">Email </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">First Name</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= @user.first_name %></td>
  </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">Last Name</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= @user.last_name %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">City </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= @user.city %></td>
  </tr>
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9">Connections:</h3></td>
  </tr>
  <tr>
    <td colspan="3"  align="center">
    	<% ["twitter","facebook", "linked_in"].each do |provider| %>
  			<%= link_to image_tag("auth/#{provider}_64.png"), "/auth/#{provider}" %>
		<% end %>
		<%= link_to image_tag("auth/google_64.png"), "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" %>
	</td>
  </tr>
</table>
</div>
