<% javascript('jquery.colorbox-min') %>
<% stylesheet('colorbox') %>
<div id="buy_now">
	 
<% form_for @order do |f| %>
	<%= f.error_messages %>
  <%= f.hidden_field :amount, :value => @amount %>
  <%= f.hidden_field :servicelisting_id, :value => @serviceid %>	 
<table width="100%" border="0">	
  <tr>
    <td colspan="3"><h3 align="center" style="color:#48B9E9">Enter details to buy. When you buy, your credit card gets authorized and you are accepting the <%= link_to '"Terms & Conditions"',credit_cards_term_condiation_path, :class=>'term_condition' %></h3></td>
    </tr>
  <tr>
    <td width="40%"><div align="right" style="color:#FFFFFF">First Name </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td width="59%"><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Last Name </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Card Type </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Card Number </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :card_number %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Card Verification Value(CVV) </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :card_verification %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Card Expires On </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Address</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">City</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">State Name </div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :state_name %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Country</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :country %></td>
  </tr>
  <tr>
    <td><div align="right" style="color:#FFFFFF">Zip</div></td>
    <td width="1%"><strong style="color:#48B9E9">:</strong></td>
    <td><%= f.text_field :zip %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%= f.submit "Submit" %></td>
  </tr>
</table>
<% end %>

</div>
<script type='text/javascript'>
	$('.term_condition').colorbox();
</script>