<div id="signup">
<fieldset>
   <legend><h2><i><div id="heading_style">Invite Friends</div></i></h2></legend>

<% form_tag(:action => 'mail') do %>

<% if @contacts %>


<h3><i>You have <%= @contacts.length%> friends to send invitation.</i></h3>

<table border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td><font color="#FFFFFF" style="font-size:14px">Name</font></td>
		<td><font color="#FFFFFF" style="font-size:14px">Select</font></td>
		<td><font color="#FFFFFF" style="font-size:14px">Email</font></td>
	</tr>
	<% @contacts.each do |contact| %>
		<tr class="<%= cycle("odd","even") %>">
			
			<td>
				<%= contact.name %>
			</td>
			
			<td>
				
				<%= check_box_tag "contact_email[]", contact.email %>
				
			</td>
			
			<td>
				<%= contact.email %>
			</td>
		</tr>
	<% end %>
	
	<tr>
		<td align="right"><font color="#FFFFFF" style="font-size:14px">Subject</font></td>
		<td>:</td>
		<td><%= text_field_tag :subject_w, "", :size=>"67" %></td>
	</tr>
	
	<tr>
		<td align="right"><font color="#FFFFFF" style="font-size:14px">Write MSG here</font></td>
		<td>:</td>
		<td><%= text_area_tag :msg, "", :size=>"50x20" %></td>
		
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><%= submit_tag("Send Invitation") %></td>
	</tr>
	
</table>

<% else %>
	<p>No contacts found.</p>	
	
<% end %>

<% end %>
</fieldset>
</div>