<div id="signup">

<% form_tag(:action => 'mail') do %>

<% if @contacts %>
<%= $no_of_guests %>

<h3 style="color:#000000;"><i>You have <%= @contacts.length%> friends to send invitation.</i></h3>
<fieldset>
   <legend><h2 style="color:#000000;"><i><div id="heading_style">Invite Friends</div></i></h2></legend>
<table border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td><font color="#000000" style="font-size:14px">Name</font></td>
		<td><font color="#000000" style="font-size:14px">Select</font></td>
		<td><font color="#000000" style="font-size:14px">Email</font></td>
	</tr>
	<% @contacts.each do |contact| %>
		<tr class="<%= cycle("odd","even") %>">
			
			<td>
				<%= contact.name %>
			</td>
			
			<td>
				
				<%= check_box_tag "contact_email[]", contact.email %>
				
			</td>
			
			<td>
				<%= contact.email %>
			</td>
		</tr>
	<% end %>
	
	<tr>
		<td align="right"><font color="#000000" style="font-size:14px">Subject</font></td>
		<td>:</td>
		<td><%= text_field_tag :subject_w, "", :class=>"textfield_effect" %></td>
	</tr>
	
	<tr>
		<td align="right"><font color="#000000" style="font-size:14px">Write MSG here</font></td>
		<td>:</td>
		<td><%= text_area_tag :msg, "" %></td>
		
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><%= submit_tag("Send Invitation") %></td>
	</tr>
	
</table>
</br>

<% else %>
	<p>No contacts found.</p>	
	
<% end %>

<% end %>
</fieldset>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		//alert("<%= $no_of_guests %>");
		var max = <%= $no_of_guests %>;
		//alert(max);
		$('#signup > form').submit(function(e){
			//alert('aaa');
			//alert($("#contact_email_:checked").size());
			var s = $("#contact_email_:checked").size();
			//alert(s);
			if(s<=max)
			{
				return true;
			}
			else
			{
				alert("The service which you has bought, only "+max+" guest has allowed");
				return false;
			}
			
		});
		
	});
	
</script>
