<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= content_for?(:title) ? yield(:title) : "Get your bottle service now" %></title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag :defaults %>	
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
</head>
<body>
<!--Start body Part -->	
<div id="wrapper">
	
	
	
	<!--   header -->
	<div id="header-wrapper">
	  <div id="header">
		
		<div id="logo">
			<h1>Sippod</h1>
			<div style="font-size:16px;margin-left: 120px;">Get your bottle service now</div>
		</div>

		<!-- Search Start -->
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>	
		<!-- Search End -->

	  </div>
	</div>
	<!-- end #header -->
	
	
	<!-- Start of Menu Part -->
	<div id="menu">
		<ul>
			<li><%= link_to "Home", root_path %></li>
				<% if !current_user %>
					<li><%= link_to "Sign Up", new_user_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% else %>
					<li><%= link_to "My Account", user_path(current_user) %></li>
				<% if auth_provider.nil? %>
					<li><%= link_to "Change Password", change_password_users_path %></li>				
				<% end%>				
			<li><%= link_to "Sign out", user_session_path(current_user), :method => :delete, :confirm => "Are you sure you want to signout?" %></li>
		<% end %>
		</ul>
	</div>
	<!-- end #menu -->
	
	
	<!--- Containt -->
	<div id="page">
	  <%= yield %>
	  <%= yield :scripts %>
	</div>
	<!--- End of Containt -->
	
	<!-- Start of footer Part-->	
	<div id="footer-wrapper">
		<div id="footer">
			<nav class="round">
			 <ul>	
				<li><%= link_to "Home", root_path %></li> |
				<li><%= link_to "About Us", root_path %></li> |
				<li><%= link_to "Contact Us", root_path %></li> |
				<li><%= link_to 'Register You Bottle Service'%></li>
			 </ul>	
			</nav>
			</br>
				<div style="font-size:12px;text-align: center; color:#fff">Copyright © 2011 by Unedollar. All Rights Reserved.</div>
				<div style="float:right;">
					<%= render :partial => "layouts/social_buttons"%>
				</div>
		</div>
	</div>	
    <!-- end #footer -->



</div>
<!-- End of Body Part -->
</body>
</html>
