<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Get your bottle service now" %></title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
</head>
<body>
<div id="wrapper">
	<!--
	<div id="search">
		
  			<% form_tag servicelistings_path, :method => 'get' do %>
   				<%= text_field_tag :search, params[:search] %>
   				<%= submit_tag "Search", :name => nil %>
    		<% end %>
    	
 	</div>
	-->
	<!--   header -->
	<div id="header">
		<div id="logo">
			<h1><%= link_to image_tag("auth/logo1.jpg", :size=>"300x50", :style =>"border:1px solid #fff;-moz-border-radius:10px;-webkit-border-radius:10px;"), root_path %></h1>
			<div style="font-size:16px;margin-left: 110px;"></div>
		</div>
		<!-- Start of Menu Part -->
		<div id="menu">
		<ul>
				<% if !current_user %>
					<li><%= link_to "Sign Up", new_user_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% else %>
					<li><%= link_to "Profile", user_path(current_user) %></li>
					<li><%= link_to "My Account", account_history_users_path(:id => current_user.id) %></li>
					<% if auth_provider.nil? %>
						<li><%= link_to "Change Password", change_password_users_path %></li>				
					<% end%>				
					<li><%= link_to "Sign out", user_session_path(current_user), :method => :delete, :confirm => "Are you sure you want to signout?" %></li>
				<% end %>
		</ul>
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header -->
	
	<!--- Containt -->
	<div id="page">
		<% flash.each do |name, msg| %>
    		<%= content_tag :div, msg, :id => "flash_#{name}" %>
    	<% end %>    	
	  <%= yield %>
	  <%= yield :scripts %>
	
	</br>
	<!-- Start of footer Part-->	
	<div id="footer">
		<nav>
			<ul>	
				<li><%= link_to "Home", root_path %></li> |
				<li><%= link_to "About Us", root_path %></li> |
				<li><%= link_to "Contact Us", root_path %></li> |
				<li><%= link_to "Register You Bottle Service",  new_bar_bussiness_path %></li>
			</ul>	
		</nav>
		<div id="copy_right">
			Copyright © 2011 by Unedollar. All Rights Reserved.
		</div>
		<div id="social_network">
			<%= render :partial => "layouts/social_buttons"%>
		</div>
	 </div>	    	
    <!-- end #footer -->  
	</div>
	<!--- End of Containt -->
	
	
</div>
</body>
</html>
