<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Get your bottle service now" %></title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
    <%= stylesheet_link_tag "location" %>
</head>
<body>

<%= yield %>
<%= yield :scripts %>
</body>
</html>
